
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모임 등록하기</title>
    <link rel="stylesheet" th:href="@{/css/enroll-meeting.css}">
    <link th:href="'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css'" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <!-- 커스터마이즈된 부트스트랩 스타일시트 -->
    <link th:href="@{/css/home.min.css}" rel="stylesheet" />
    <!-- 외부 라이브러리 스타일시트 연결 -->
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
            rel="stylesheet"
    />

    <!-- 아이콘 폰트 스타일시트 연결 -->
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />
</head>
<body>

<!-------------------------------------------------- navbar -------------------------------------------------->

        <nav class="container-fluid fixed-top">
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <!-- 로고 및 사이트 이름 -->
                    <a th:href="@{/home}" class="navbar-brand">
                        <img th:src="@{/img/image_145.png}" src="/img/image_145.png" alt="Eat-IT Logo">
                        <h1 class="text-primary display-6">Eat-IT</h1>
                    </a>

                    <!-- 모바일용 네비게이션 토글 버튼 -->
                    <button
                            class="navbar-toggler py-2 px-3"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse"
                    >
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <!-- 네비게이션 메뉴 -->
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a th:href="@{/home}" class="nav-item nav-link active">홈</a>
                            <a th:href="@{/enroll-meeting}" class="nav-item nav-link">모임등록</a>
                            <a th:href="@{/search/list}" class="nav-item nav-link">모임찾기</a>
                            <!-- 모임목록은 로그인을 해야 들어갈 수 있기에 404 에러가 뜸-->
                            <a th:href="@{/meetingList/participatingList}" class="nav-item nav-link">모임목록</a>

                        </div>
                        <!-- 1:1 채팅 및 그룹 채팅 버튼 -->
                        <a th:href="@{/chat}" class="btn-chat my-auto">
                            <i class="fas fa-comments"></i>
                            <span class="btn-text">1:1채팅</span>
                        </a>
                        <a th:href="@{/chatGroup/chatrooms}" class="btn-chat my-auto">
                            <i class="fas fa-users"></i>
                            <span class="btn-text">그룹채팅</span>
                        </a>

                        <!-- 알림, 로그인, 회원가입 버튼 -->

                        <a href="#" th:href="@{/alarm}" class="btn-notification my-auto me-4">
                            <i class="fas fa-bell fa-2x"></i>
                            <span class="notification-dot"></span>
                        </a>
                        <a class="btn btn-danger rounded-pill me-2" th:href="@{/login/loginMain}" id="loginButton">
                            로그인
                        </a>
                        <a class="btn btn-outline-danger rounded-pill" th:href="@{/login/join}" id="signupButton">
                            회원가입
                        </a>


                    </div>
                </nav>
            </div>
        </nav>

<!--------------------------------------------------  -------------------------------------------------->
<div class="form-container">
        <h1>모임 등록하기</h1>

        <form action="/enroll-meeting/enroll-meeting" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="meeting-place">약속 장소</label>
                <input type="text" id="meeting-place" name="locationName" placeholder="약속장소를 입력해주세요"/>
                <input type="hidden" id="locationLatitude" name="locationLatitude"/>
                <input type="hidden" id="locationLongitude" name="locationLongitude"/>
            </div>
            <div id="map" style="height: 400px; width: 400px;"></div>
            <div class="form-group">
                <label for="group-name">모임 이름을 입력하세요</label>
                <input type="text" id="group-name" name="title" placeholder="ex) 장소, 대화주제 등 대표 키워드를 포함해주세요"/>
            </div>
            <div class="form-group">
                <label for="group-detail">모임을 소개해주세요</label>
                <input type="text" id="group-detail" name="introduction" placeholder="모집인원, 메인 메뉴 등 모임에 대한 설정포함"/>
            </div>
            <div class="form-group">
                <label>지불방식</label>
                <div class="checkbox-group">
                    <input type="radio" class="btn-check" name="paymentMethod" id="success-outlined" autocomplete="off" checked value="Paid">
                    <label class="btn btn-outline-success" for="success-outlined">더치페이</label>

                    <input type="radio" class="btn-check" name="paymentMethod" id="danger-outlined" autocomplete="off" value="Free">
                    <label class="btn btn-outline-success" for="danger-outlined">골든벨</label>
                </div>
            </div>
<!--            <div class="form-group">-->
<!--                <label for="hashtag-input1">대화주제</label>-->
<!--                <div class="hashtag-container">-->
<!--                    <div id="hashtags1"></div>-->
<!--                    <input type="text" id="hashtag-input1" name="meetingType" placeholder="ex) 이직준비, 회사문화, 포트폴리오">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="hashtag-input2">관심분야</label>-->
<!--                <div class="hashtag-container">-->
<!--                    <div id="hashtags2"></div>-->
<!--                    <input type="text" id="hashtag-input2" name="interests" placeholder="ex) 백엔드, 프론트엔드, 자바, 스프링, 도커, 인공지능 등">-->
<!--                </div>-->
<!--            </div>-->

            <div class="form-group">
                <label>모임종류</label>
                <div class="checkbox-group">
                <input type="radio" class="btn-check" name="meetingType" th:value="study" id="study" autocomplete="off" >
                <label class="btn btn-outline-success" for="study">스터디</label>

                <input type="radio" class="btn-check" name="meetingType" th:value="coding" id="coding" autocomplete="off">
                <label class="btn btn-outline-success" for="coding">코딩</label>

                <input type="radio" class="btn-check" name="meetingType" th:value="networking" id="networking" autocomplete="off">
                <label class="btn btn-outline-success" for="networking">네트워킹</label>

                <input type="radio" class="btn-check" name="meetingType" th:value="turnover" id="turnover" autocomplete="off">
                <label class="btn btn-outline-success" for="turnover">이직준비</label>

                <input type="radio" class="btn-check" name="meetingType" th:value="mentoring" id="mentoring" autocomplete="off">
                <label class="btn btn-outline-success" for="mentoring">멘토링</label>
                </div>

<!--                <ul class="time-group" th:each="type : ${types}">-->
<!--                    <li >-->
<!--                        <input type="radio" class="btn-check" name="meetingType" th:value="${type}" th:id="${type}" autocomplete="off">-->
<!--                        <label class="btn btn-outline-success" th:for="${Study}" th:text="${type}">종류</label>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
            <div class="form-group">
                <label>관심분야</label>
                <div class="checkbox-group">
                    <ul class="checkbox-group" th:each="interest : ${interests}">
                        <li>
                            <input type="checkbox" class="btn-check" name="interestsConditions" th:value="${interest}" th:id="${interest}" autocomplete="off">
                            <label class="btn btn-outline-success" th:for="${interest}" th:text="${interest}">파이썬</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group upload-group">
                <div class="upload-container">
                    <label>모임 대표 사진을 등록해 주세요.</label>
                    <label class="upload-box">
                        <input type="file" name="file" multiple id="file-input">
                        <div class="upload-icon">📷</div>
                        <div id="file-count">0/1</div>
                    </label>
                </div>
                <div class="image-preview" id="image-preview"></div>
            </div>
            <div class="form-group">
                <label for="scheduled-date">모임 일시를 선택해주세요.</label>
                <input
                        id="scheduled-date"
                        type="datetime-local"
                        name="inputScheduledDate"
                        required />
            </div>
            <div class="form-group">
                <label for="end-date">종료일시</label>
                <input
                        id="end-date"
                        type="datetime-local"
                        name="inputEndDate"
                        required />
<!--                        min="2017-06-01T08:30"-->
<!--                        max="2017-06-30T16:30"-->
            </div>
            <div class="form-group">
                <label>퇴장 제한 시간</label>
                <div class="time-group">
                    <input type="radio" class="btn-check" name="exitRestrictionTime" th:value="'00:00:00'" id="no-limit" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="no-limit">제한없음</label>

                    <input type="radio" class="btn-check" name="exitRestrictionTime" th:value="'01:00:00'" id="1-hour" autocomplete="off">
                    <label class="btn btn-outline-success" for="1-hour">1시간</label>

                    <input type="radio" class="btn-check" name="exitRestrictionTime"  th:value="'02:00:00'" id="2-hours" autocomplete="off">
                    <label class="btn btn-outline-success" for="2-hours">2시간</label>

                    <input type="radio" class="btn-check" name="exitRestrictionTime" th:value="'03:00:00'" id="3-hours" autocomplete="off">
                    <label class="btn btn-outline-success" for="3-hours">3시간</label>

                </div>
            </div>
            <div class="form-group">
                <label for="min-participants">몇 명을 모집할까요?</label>
                <input type="number" min="2" id="min-participants" name="recruitmentNumber" placeholder="최소 2명 이상"/>
            </div>
            <div class="form-group">
                <label>모집방식</label>
                <div class="checkbox-group">
                    <input type="radio" class="btn-check" name="participationMethod" id="accept-regist" autocomplete="off" checked th:value="리더승인">
                    <label class="btn btn-outline-success" for="accept-regist">리더승인</label>

                    <input type="radio" class="btn-check" name="participationMethod" id="free-regist" autocomplete="off" th:value="자유참여">
                    <label class="btn btn-outline-success" for="free-regist">자유참여</label>
                </div>
            </div>
            <div class="form-group">
                <label>성별</label>
                <div class="checkbox-group">
                    <input type="radio" class="btn-check" name="gender" th:value="all" id="all" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="all">상관없음</label>

                    <input type="radio" class="btn-check" name="gender" th:value="male" id="male" autocomplete="off">
                    <label class="btn btn-outline-success" for="male">남성</label>

                    <input type="radio" class="btn-check" name="gender" th:value="female" id="female" autocomplete="off">
                    <label class="btn btn-outline-success" for="female">여성</label>

                </div>
            </div>
            <div class="form-group">
                <label>참여 가능 나이</label>
                <div class="age-group">
                    <input type="radio" class="btn-check" name="eligibleAge" th:value="all" id="all-age" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="all-age">상관없음</label>

                    <input type="radio" class="btn-check" name="eligibleAge" th:value="20s" id="twenties" autocomplete="off">
                    <label class="btn btn-outline-success" for="twenties">20대</label>

                    <input type="radio" class="btn-check" name="eligibleAge" th:value="30s" id="thirties" autocomplete="off">
                    <label class="btn btn-outline-success" for="thirties">30대</label>

                    <input type="radio" class="btn-check" name="eligibleAge" th:value="40s" id="forties" autocomplete="off">
                    <label class="btn btn-outline-success" for="forties">40대</label>

                    <input type="radio" class="btn-check" name="eligibleAge" th:value="50s" id="fifties" autocomplete="off">
                    <label class="btn btn-outline-success" for="fifties">50대</label>

                    <input type="radio" class="btn-check" name="eligibleAge" th:value="60s" id="sixties" autocomplete="off">
                    <label class="btn btn-outline-success" for="sixties">60대</label>

                </div>
            </div>
            <div class="form-group">
                <button type="submit">등록하기</button>
            </div>
        </form>
    </div>
    <script th:src="'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js'" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script  th:src="@{/js/enroll-meeting.js}"></script>
    <script th:src="'https://maps.googleapis.com/maps/api/js?key=AIzaSyCtrF28U4XgcY4rrHUzvKPhOtiOJzbxwRQ&callback=initMap&libraries=places'" async defer></script>
</body>
</html>
