
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모임 등록하기</title>
    <link href="css/styles.css" rel="stylesheet" >
</head>
<body>
    <div class="form-container">

<!-------------------------------------------------- navbar -------------------------------------------------->
        <nav class="navbar">

            <div class="nav_logo">
                <img class="logo" src="images/logo.png" alt="logo">
                <a href="#">Eat IT</a>
            </div>
             
            <ul class="nav_menu">
                <li><a href="#">홈</a></li>
                <li><a href="#">모임등록</a></li>
                <li><a href="#">모임찾기</a></li>
                <li><a href="#">후기</a></li>
                
            </ul>
            <ul class="nav_users">
                <li><a href="#">마이페이지</a></li>
                <li><a href="#">로그아웃</a></li>
            </ul>

        </nav>
<!--------------------------------------------------  -------------------------------------------------->

        <h1>모임 등록하기</h1>

        <form>
            <div class="form-group">
                <label for="meeting-place">약속 장소</label>
                <input type="text" id="meeting-place" name="meeting-place" placeholder="약속장소를 선택해주세요"/>
            </div>
            <button type="button" id="show-map-button">지도에서 선택</button>
            <div id="map" style="height: 400px; width: 100%; display: none;"></div>
            <div class="form-group">
                <label for="group-name">모임 이름을 입력하세요</label>
                <input type="text" id="group-name" name="group-name" placeholder="ex) 장소, 대화주제 등 대표 키워드를 포함해주세요"/>
            </div>
            <div class="form-group">
                <label for="group-detail">모임을 소개해주세요</label>
                <input type="text" id="group-detail" name="group-detail" placeholder="모집인원, 메인 메뉴 등 모임에 대한 설정포함"/>
            </div>
            <div class="form-group">
                <label>지불방식</label>
                <div class="checkbox-group">
                    <div><input type="radio" name="support-method" value="face-to-face"/> 더치페이</div>
                    <div><input type="radio" name="support-method" value="online"/> 골든벨</div>
                </div>
            </div>
            <div class="form-group">
                <label for="topics">대화주제</label>
                <div class="hashtag-container">
                    <div id="hashtags1"></div>
                    <input type="text" id="hashtag-input1" name="topics" placeholder="ex) 이직준비, 회사문화, 포트폴리오">
                </div>
            </div>
            <div class="form-group">
                <label for="interests">관심분야</label>
                <div class="hashtag-container">
                    <div id="hashtags2"></div>
                    <input type="text" id="hashtag-input2" name="interests" placeholder="ex) 백엔드, 프론트엔드, 자바, 스프링, 도커, 인공지능 등">
                </div>
            </div>
            <div class="form-group upload-group">
                <div class="upload-container">
                    <label>모임 대표 사진을 등록해 주세요.</label>
                    <label class="upload-box">
                        <input type="file" multiple id="file-input">
                        <div class="upload-icon">📷 </div>
                        <div id="file-count">0/5</div>
                    </label>
                </div>
                <div class="image-preview" id="image-preview"></div>
            </div>
            <div class="form-group">
                <label for="date">모임 날짜 선택해주세요.</label>
                <input type="date" id="date" name="date"/>
            </div>
            <div class="form-group">
                <label for="duration">퇴장 제한 시간</label>
                <div class="time-group">
                    <label><input type="radio" name="duration" value="no-limit"/> 제한없음</label>
                    <label><input type="radio" name="duration" value="1-hour"/> 1시간</label>
                    <label><input type="radio" name="duration" value="2-hours"/> 2시간</label>
                    <label><input type="radio" name="duration" value="3-hours"/> 3시간</label>
                </div>
            </div>
            <div class="form-group">
                <label for="min-participants">몇 명을 모집할까요?</label>
                <input type="number" min="2" id="min-participants" name="min-participants" placeholder="최소 2명 이상"/>
            </div>
            <div class="form-group">
                <label for="gender">성별</label>
                <div class="checkbox-group">
                    <label><input type="radio" name="gender" value="male"/> 남성</label>
                    <label><input type="radio" name="gender" value="female"/> 여성</label>
                    <label><input type="radio" name="gender" value="all"/> 상관없음</label>
                </div>
            </div>
            <div class="form-group">
                <label for="age">참여 가능 나이</label>
                <div class="age-group">
                    <label><input type="radio" name="age" value="20s"/> 20대</label>
                    <label><input type="radio" name="age" value="30s"/> 30대</label>
                    <label><input type="radio" name="age" value="40s"/> 40대</label>
                    <label><input type="radio" name="age" value="50s"/> 50대</label>
                    <label><input type="radio" name="age" value="60s"/> 60대</label>
                    <label><input type="radio" name="age" value="all-ages"/> 상관없음</label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit">등록하기</button>
            </div>
        </form>
    </div>
    <script src="js/script.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtrF28U4XgcY4rrHUzvKPhOtiOJzbxwRQ&callback=initMap&libraries=places"></script>
</body>
</html>
