.444_10429 { 
	overflow:hidden;
}.e444_10429 { 
	width:544px;
	height:764px;
	position:absolute;
}.e443_10359 { 
	width:544px;
	height:764px;
	position:absolute;
	left:0px;
	top:0px;
}.e443_10360 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:544px;
	height:764px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.443_10360 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e443_10356 { 
	background-color:rgba(255, 0, 0, 1);
	width:108px;
	height:35px;
	position:absolute;
	left:218px;
	top:682px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e443_10357 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:19px;
	position:absolute;
	left:243px;
	top:690px;
	font-family:Roboto;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e443_10349 { 
	border-radius:500px;
	width:50px;
	height:56.10150146484375px;
	position:absolute;
	left:247px;
	top:87px;
	background-image:url(images/ellipse_64.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e443_10358 { 
	color:rgba(0, 0, 0, 1);
	width:254px;
	height:26px;
	position:absolute;
	left:145px;
	top:45px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}.e443_10350 { 
	color:rgba(0, 0, 0, 1);
	width:199px;
	height:19px;
	position:absolute;
	left:173px;
	top:159px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e443_10328 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:199px;
}.e443_10345 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:199px;
}.e443_10295 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:87px;
	top:200px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e443_10344 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:87px;
	top:200px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e443_10361 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:251px;
}.e443_10362 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:251px;
}.e443_10363 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:87px;
	top:252px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e443_10365 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:304px;
}.e443_10366 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:304px;
}.e443_10369 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:358px;
}.e443_10370 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:358px;
}.e443_10371 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:87px;
	top:359px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e443_10373 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:412px;
}.e443_10374 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:412px;
}.e443_10375 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:87px;
	top:413px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e443_10377 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:466px;
}.e443_10378 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:466px;
}.e443_10379 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:87px;
	top:467px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e444_10381 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:520px;
}.e444_10382 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:520px;
}.e444_10383 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:87px;
	top:521px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e444_10385 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:575px;
}.e444_10386 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:575px;
}.e444_10387 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:87px;
	top:576px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e444_10389 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:629px;
}.e444_10390 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:53px;
	top:629px;
}.e444_10391 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:87px;
	top:630px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e444_10393 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:194px;
}.e444_10394 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:194px;
}.e444_10395 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:341px;
	top:195px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e444_10397 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:246px;
}.e444_10398 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:246px;
}.e444_10399 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:341px;
	top:247px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e444_10401 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:299px;
}.e444_10402 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:299px;
}.e444_10403 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:341px;
	top:300px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e444_10405 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:353px;
}.e444_10406 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:353px;
}.e444_10407 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:341px;
	top:354px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e444_10409 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:407px;
}.e444_10410 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:407px;
}.e444_10411 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:341px;
	top:408px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e444_10413 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:461px;
}.e444_10414 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:461px;
}.e444_10415 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:341px;
	top:462px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e444_10417 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:515px;
}.e444_10418 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:515px;
}.e444_10419 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:341px;
	top:516px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e444_10421 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:570px;
}.e444_10422 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:570px;
}.e444_10423 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:341px;
	top:571px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e444_10425 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:624px;
}.e444_10426 { 
	background-color:rgba(1.0000000591389835, 147.00000643730164, 127.00000002980232, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:307px;
	top:624px;
}.e444_10427 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:341px;
	top:625px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e443_10367 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:19px;
	position:absolute;
	left:87px;
	top:305px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}