<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="reviewstyles.css">

  <style>
    /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
    body {
      background: #E5E5E5;
    }
  </style>

</head>

<body>
  <div class=e520_9807>
    <div class=e431_11307>
      <div class=e489_12065></div>
    </div>
    <div class=e489_12081>
      <div class=e431_11806>
        <div class="e431_11807"></div><span class="e431_11808">고객서비스</span><span class="e431_11809">팀원소개</span><span
          class="e431_11810">홍관섭</span><span class="e431_11811">정현민</span><span class="e431_11812">김혜진</span><span
          class="e431_11813">김재협</span><span class="e431_11814">김도현</span><span class="e431_11815">github </span><span
          class="e431_11816">소셜미디어</span>
        <div class="e431_11817"></div>
      </div>
    </div>
    <div class=e431_11824>
      <div class=e484_10770><span class="e484_10771"><a href="#entry229Comment">홈</a></span></div>
      <div class=e484_10772><span class="e484_10773"><a href="#entry229Comment">모임등록</a></span></div>
      <div class=e484_10774><span class="e484_10775"><a href="#entry229Comment">모임찾기</a></span></div>
    </div>
    <div class="e431_11831"></div>
    <div class=e489_12066>
      <div class=e489_12067><span class="e489_12068"><a href="#entry229Comment">마이페이지</a></span></div>
      <div class=e489_12069><span class="e489_12070"><a href="#entry229Comment">로그아웃</a></span></div>
    </div>
    <div class=e431_11819>
      <div class=e489_12039>
        <div class=e489_12076>
          <div class=e489_12071>
            <div class=e484_10207>
              <div class=e484_10782><span class="e484_10783"><a href="#entry229Comment">저장</a></span></div>
              <div class=e484_10281>
                <div class=e484_10282><span class="e484_10283">차단하기</span></div><span class="e484_10284">24년 6월 21일 금요일
                  16:30</span><span class="e484_10285">즐거운 AI 이야기(스타벅스)</span><span class="e484_10286">모임장은 어땠나요?</span>
                <div class="e484_10287"></div><span class="e484_10288">x 매너가 없어요.</span>
                <div class="e484_10289"></div><span class="e484_10290">x 매너가 없어요.</span>
                <div class="e484_10291"></div><span class="e484_10292">x 매너가 없어요.</span>
                <div class="e484_10293"></div><span class="e484_10294">x 매너가 없어요.</span>
                <div class="e484_10295"></div><span class="e484_10296">x 매너가 없어요.</span><span class="e484_10297">모임장에 대한
                  평가를 써주세요</span>
                <div class=e484_10298><span class="e484_10299"><a href ="reviewModal.html">평가하기</a></span></div>
                <div class=e484_10300><span class="e484_10301">신고하기</span></div>
                <div class="e484_10302"></div><span class="e484_10303">x 매너가 없어요.</span>
                <div class="e484_10304"></div><span class="e484_10305">x 매너가 없어요.</span>
                <div class="e484_10306"></div>
                <div class="e484_10307"></div>
                <div class="e484_10308"></div>
                <div class="e484_10309"></div><span class="e484_10310"> 제목</span>
                <div class="e484_10311"></div>
                <div class="e484_10312"></div>
                <div class="e484_10313"></div><span class="e484_10314"> 본문</span><span class="e484_10315">x 매너가
                  없어요.</span>
                <div class=e484_10800>
                  <div class=e484_10801><span class="e484_10802">차단하기</span></div><span class="e484_10803">멤버 1은
                    어땠나요?</span>
                  <div class=e484_10804><span class="e484_10805"><a href ="reviewModal.html">평가하기</a></span></div>
                  <div class=e484_10806><span class="e484_10807">신고하기</span></div>
                  <div class="e484_10808"></div>
                  <div class="e484_10809"></div>
                  <div class="e484_10810"></div>
                  <div class="e484_10811"></div>
                  <div class="e484_10812"></div><span class="e484_10813">x 매너가 없어요.</span><span class="e484_10814">x 매너가
                    없어요.</span><span class="e484_10815">x 매너가 없어요.</span>
                </div>
                <div class=e484_10784>
                  <div class=e484_10785><span class="e484_10786">차단하기</span></div><span class="e484_10787">멤버 1은
                    어땠나요?</span>
                  <div class=e484_10788><span class="e484_10789"><a href ="reviewModal.html">평가하기</a></span></div>
                  <div class=e484_10790><span class="e484_10791">신고하기</span></div>
                  <div class="e484_10792"></div>
                  <div class="e484_10793"></div>
                  <div class="e484_10794"></div>
                  <div class="e484_10795"></div>
                  <div class="e484_10796"></div><span class="e484_10797">x 매너가 없어요.</span><span class="e484_10798">x 매너가
                    없어요.</span><span class="e484_10799">x 매너가 없어요.</span>
                </div>
                <div class="e484_10318"></div><span class="e484_10319">x 매너가 없어요.</span>
                <div class="e484_10320"></div><span class="e484_10321">x 매너가 없어요.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=e489_12077><span class="e484_10427">참여한 모임 목록</span>
      <div class=e489_12072>
        <div class=e489_11996>
          <div class="e489_11994"></div>
          <div class="e489_12003"></div>
          <div class="e489_11989"></div><span class="e484_11315">판교 IT사람 다모여</span><span
            class="e489_11995">버거킹</span><span class="e484_11316">6/21 (금)오후 4:33</span>
        </div>
        <div class="e489_12005"></div>
        <div class="e489_12006"></div>
        <div class="e489_12007"></div><span class="e489_12008">판교 IT사람 다모여</span><span class="e489_12009">버거킹</span>
        <div class="e489_12012"></div>
        <div class="e489_12013"></div>
        <div class="e489_12014"></div><span class="e489_12015">판교 IT사람 다모여</span><span class="e489_12016">버거킹</span>
        <div class="e489_12019"></div>
        <div class="e489_12020"></div>
        <div class="e489_12021"></div><span class="e489_12022">판교 IT사람 다모여</span><span class="e489_12023">버거킹</span>
        <div class="e489_12026"></div>
        <div class="e489_12027"></div>
        <div class="e489_12028"></div><span class="e489_12029">판교 IT사람 다모여</span><span class="e489_12030">버거킹</span>
        <div class=e489_12032>
          <div class="e489_12033"></div>
          <div class="e489_12034"></div>
          <div class="e489_12035"></div><span class="e489_12036">판교 IT사람 다모여</span><span class="e489_12037">버거킹</span>
        </div><span class="e489_12043">6/21 (금)오후 4:33</span><span class="e489_12042">6/21 (금)오후 4:33</span><span
          class="e489_12041">6/21 (금)오후 4:33</span><span class="e489_12044">6/21 (금)오후 4:33</span><span
          class="e489_12045">6/21 (금)오후 4:33</span>
      </div>
    </div>
  </div>
</body>

</html>