.489_12082 { 
	overflow:hidden;
}.e489_12082 { 
	width:1920px;
	height:2302px;
	position:absolute;
}.e431_11307 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:2002px;
	position:absolute;
	left:0px;
	top:0px;
}.e484_11477 { 
	width:385px;
	height:101px;
	position:absolute;
	left:271px;
	top:209px;
}.e489_12065 { 
	width:872px;
	height:151px;
	position:absolute;
	left:524px;
	top:0px;
}.e489_12046 { 
	background-color:rgba(255, 255, 255, 1);
	width:872px;
	height:151px;
	position:absolute;
	left:0px;
	top:0px;
}.e489_12081 { 
	width:1920px;
	height:300px;
	position:absolute;
	left:0px;
	top:2002px;
}.e431_11806 { 
	width:1920px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}.e431_11807 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1920px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}.e431_11808 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:21px;
	position:absolute;
	left:160px;
	top:31px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e431_11809 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:21px;
	position:absolute;
	left:608px;
	top:31px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e431_11810 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:1023px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e431_11811 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:919px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e431_11812 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:818px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e431_11813 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:719px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e431_11814 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:625px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e431_11815 { 
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:21px;
	position:absolute;
	left:1729px;
	top:31px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e431_11816 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:21px;
	position:absolute;
	left:400px;
	top:31px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e431_11817 { 
	width:614px;
	height:141px;
	position:absolute;
	left:551px;
	top:132px;
	background-image:url(images/image_162.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e431_11824 { 
	width:340px;
	height:48px;
	position:absolute;
	left:660px;
	top:50px;
}.e484_10770 { 
	width:59px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.e484_10771 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:24px;
	position:absolute;
	left:20px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e484_10772 { 
	background-color:rgba(255, 255, 255, 1);
	width:119px;
	height:48px;
	position:absolute;
	left:67px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.e484_10773 { 
	color:rgba(255, 0, 0, 1);
	width:79px;
	height:24px;
	position:absolute;
	left:20px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e484_10774 { 
	width:119px;
	height:48px;
	position:absolute;
	left:194px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.e484_10775 { 
	color:rgba(0, 0, 0, 1);
	width:79px;
	height:24px;
	position:absolute;
	left:20px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e431_11831 { 
	width:140.08181762695312px;
	height:151px;
	position:absolute;
	left:524px;
	top:0px;
	border-radius:9999px;
	background-image:url(images/image_145.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e489_12066 { 
	width:233px;
	height:42px;
	position:absolute;
	left:1078px;
	top:54px;
}.e489_12067 { 
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.489_12067 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_12068 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:18px;
	position:absolute;
	left:24px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e489_12069 { 
	background-color:rgba(255, 255, 255, 1);
	width:104px;
	height:42px;
	position:absolute;
	left:129px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.489_12069 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_12070 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:18px;
	position:absolute;
	left:24px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e431_11819 { 
	width:433px;
	height:1511px;
	position:absolute;
	left:1054px;
	top:192px;
}.e489_12039 { 
	width:433px;
	height:1511px;
	position:absolute;
	left:0px;
	top:0px;
}.e489_12076 { 
	width:433px;
	height:1511px;
	position:absolute;
	left:0px;
	top:0px;
}.e489_12071 { 
	width:433px;
	height:1511px;
	position:absolute;
	left:0px;
	top:0px;
}.e484_10207 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:1511px;
	position:absolute;
	left:0px;
	top:0px;
}.e484_10782 { 
	background-color:rgba(255, 0, 0, 1);
	width:152px;
	height:42px;
	position:absolute;
	left:109px;
	top:1469px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e484_10783 { 
	color:rgba(255, 255, 255, 1);
	width:28px;
	height:18px;
	position:absolute;
	left:62px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e484_10281 { 
	width:433px;
	height:1348px;
	position:absolute;
	left:0px;
	top:0px;
}.e484_10282 { 
	background-color:rgba(0, 0, 0, 1);
	width:99px;
	height:35px;
	position:absolute;
	left:260px;
	top:164px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e484_10283 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:19px;
	position:absolute;
	left:20px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e484_10284 { 
	color:rgba(0, 0, 0, 1);
	width:370px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e484_10285 { 
	color:rgba(91.37499645352364, 91.37499645352364, 91.37499645352364, 1);
	width:290px;
	height:29px;
	position:absolute;
	left:0px;
	top:31px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e484_10286 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:29px;
	position:absolute;
	left:0px;
	top:117px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e484_10287 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:224px;
	border-radius:10px;
}.484_10287 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10288 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:2px;
	top:224px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10289 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:376px;
	border-radius:10px;
}.484_10289 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10290 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:2px;
	top:376px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10291 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:338px;
	border-radius:10px;
}.484_10291 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10292 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:2px;
	top:338px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10293 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:300px;
	border-radius:10px;
}.484_10293 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10294 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:2px;
	top:300px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10295 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:262px;
	border-radius:10px;
}.484_10295 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10296 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:2px;
	top:262px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10297 { 
	color:rgba(0, 0, 0, 1);
	width:344px;
	height:31px;
	position:absolute;
	left:0px;
	top:439px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e484_10298 { 
	background-color:rgba(45.68749822676182, 91.73625826835632, 255, 1);
	width:99px;
	height:35px;
	position:absolute;
	left:0px;
	top:164px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e484_10299 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:19px;
	position:absolute;
	left:20px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e484_10300 { 
	background-color:rgba(255, 0, 0, 1);
	width:99px;
	height:35px;
	position:absolute;
	left:130px;
	top:164px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e484_10301 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:19px;
	position:absolute;
	left:20px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e484_10302 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:224px;
	border-radius:10px;
}.484_10302 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e484_10303 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:2px;
	top:224px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10304 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:376px;
	border-radius:10px;
}.484_10304 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e484_10305 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:2px;
	top:376px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10306 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:338px;
	border-radius:10px;
}.484_10306 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e484_10307 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:472px;
	border-radius:10px;
}.484_10307 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10308 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:472px;
	border-radius:10px;
}.484_10308 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10309 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:472px;
	border-radius:10px;
}.484_10309 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e484_10310 { 
	color:rgba(0, 0, 0, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:472px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10311 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:83px;
	position:absolute;
	left:0px;
	top:533px;
	border-radius:10px;
}.484_10311 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10312 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:83px;
	position:absolute;
	left:0px;
	top:533px;
	border-radius:10px;
}.484_10312 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10313 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:156px;
	position:absolute;
	left:0px;
	top:533px;
	border-radius:10px;
}.484_10313 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e484_10314 { 
	color:rgba(0, 0, 0, 1);
	width:433px;
	height:83px;
	position:absolute;
	left:0px;
	top:533px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10315 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:2px;
	top:338px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10800 { 
	width:433px;
	height:183px;
	position:absolute;
	left:0px;
	top:761px;
}.e484_10801 { 
	background-color:rgba(0, 0, 0, 1);
	width:99px;
	height:35px;
	position:absolute;
	left:260px;
	top:47px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e484_10802 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:19px;
	position:absolute;
	left:20px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e484_10803 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e484_10804 { 
	background-color:rgba(45.68749822676182, 91.73625826835632, 255, 1);
	width:99px;
	height:35px;
	position:absolute;
	left:0px;
	top:47px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e484_10805 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:19px;
	position:absolute;
	left:20px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e484_10806 { 
	background-color:rgba(255, 0, 0, 1);
	width:99px;
	height:35px;
	position:absolute;
	left:130px;
	top:47px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e484_10807 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:19px;
	position:absolute;
	left:20px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e484_10808 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:145px;
	border-radius:10px;
}.484_10808 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10809 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:107px;
	border-radius:10px;
}.484_10809 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10810 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:145px;
	border-radius:10px;
}.484_10810 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e484_10811 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:107px;
	border-radius:10px;
}.484_10811 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10812 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:107px;
	border-radius:10px;
}.484_10812 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e484_10813 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:20px;
	top:107px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10814 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:20px;
	top:107px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10815 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:20px;
	top:144px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10784 { 
	width:433px;
	height:183px;
	position:absolute;
	left:0px;
	top:1165px;
}.e484_10785 { 
	background-color:rgba(0, 0, 0, 1);
	width:99px;
	height:35px;
	position:absolute;
	left:260px;
	top:47px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e484_10786 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:19px;
	position:absolute;
	left:20px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e484_10787 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e484_10788 { 
	background-color:rgba(45.68749822676182, 91.73625826835632, 255, 1);
	width:99px;
	height:35px;
	position:absolute;
	left:0px;
	top:47px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e484_10789 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:19px;
	position:absolute;
	left:20px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e484_10790 { 
	background-color:rgba(255, 0, 0, 1);
	width:99px;
	height:35px;
	position:absolute;
	left:130px;
	top:47px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e484_10791 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:19px;
	position:absolute;
	left:20px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e484_10792 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:145px;
	border-radius:10px;
}.484_10792 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10793 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:107px;
	border-radius:10px;
}.484_10793 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10794 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:145px;
	border-radius:10px;
}.484_10794 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e484_10795 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:107px;
	border-radius:10px;
}.484_10795 { 
	border:1px solid rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
}.e484_10796 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:107px;
	border-radius:10px;
}.484_10796 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e484_10797 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:20px;
	top:107px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10798 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:20px;
	top:107px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10799 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:20px;
	top:144px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10318 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:300px;
	border-radius:10px;
}.484_10318 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e484_10319 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:2px;
	top:300px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e484_10320 { 
	background-color:rgba(255, 255, 255, 1);
	width:433px;
	height:38px;
	position:absolute;
	left:0px;
	top:262px;
	border-radius:10px;
}.484_10320 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e484_10321 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:38px;
	position:absolute;
	left:2px;
	top:262px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e489_12077 { 
	width:385px;
	height:794px;
	position:absolute;
	left:452px;
	top:192px;
}.e484_10427 { 
	color:rgba(0, 0, 0, 1);
	width:385px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e489_12072 { 
	width:385px;
	height:684px;
	position:absolute;
	left:0px;
	top:110px;
}.e489_11996 { 
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
}.e489_11994 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
}.489_11994 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_12003 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
}.489_12003 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_11989 { 
	width:114px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/rectangle_312.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e484_11315 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:36px;
	position:absolute;
	left:158px;
	top:27px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e489_11995 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:44px;
	position:absolute;
	left:158px;
	top:70px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e484_11316 { 
	color:rgba(0, 0, 0, 0.5);
	width:116px;
	height:21px;
	position:absolute;
	left:158px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e489_12005 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:114px;
}.489_12005 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_12006 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:114px;
}.489_12006 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_12007 { 
	width:114px;
	height:114px;
	position:absolute;
	left:0px;
	top:114px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/rectangle_312.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e489_12008 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:36px;
	position:absolute;
	left:158px;
	top:141px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e489_12009 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:44px;
	position:absolute;
	left:158px;
	top:184px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e489_12012 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:228px;
}.489_12012 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_12013 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:228px;
}.489_12013 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_12014 { 
	width:114px;
	height:114px;
	position:absolute;
	left:0px;
	top:228px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/rectangle_312.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e489_12015 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:36px;
	position:absolute;
	left:158px;
	top:255px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e489_12016 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:44px;
	position:absolute;
	left:158px;
	top:298px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e489_12019 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:342px;
}.489_12019 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_12020 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:342px;
}.489_12020 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_12021 { 
	width:114px;
	height:114px;
	position:absolute;
	left:0px;
	top:342px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/rectangle_312.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e489_12022 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:36px;
	position:absolute;
	left:158px;
	top:369px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e489_12023 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:44px;
	position:absolute;
	left:158px;
	top:412px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e489_12026 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:456px;
}.489_12026 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_12027 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:456px;
}.489_12027 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_12028 { 
	width:114px;
	height:114px;
	position:absolute;
	left:0px;
	top:456px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/rectangle_312.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e489_12029 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:36px;
	position:absolute;
	left:158px;
	top:483px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e489_12030 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:44px;
	position:absolute;
	left:158px;
	top:526px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e489_12032 { 
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:570px;
}.e489_12033 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
}.489_12033 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_12034 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:385px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
}.489_12034 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e489_12035 { 
	width:114px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/rectangle_312.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e489_12036 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:36px;
	position:absolute;
	left:158px;
	top:27px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e489_12037 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:44px;
	position:absolute;
	left:158px;
	top:70px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e489_12043 { 
	color:rgba(0, 0, 0, 0.5);
	width:116px;
	height:21px;
	position:absolute;
	left:158px;
	top:348px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e489_12042 { 
	color:rgba(0, 0, 0, 0.5);
	width:116px;
	height:21px;
	position:absolute;
	left:158px;
	top:234px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e489_12041 { 
	color:rgba(0, 0, 0, 0.5);
	width:116px;
	height:21px;
	position:absolute;
	left:158px;
	top:120px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e489_12044 { 
	color:rgba(0, 0, 0, 0.5);
	width:116px;
	height:21px;
	position:absolute;
	left:158px;
	top:462px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e489_12045 { 
	color:rgba(0, 0, 0, 0.5);
	width:116px;
	height:21px;
	position:absolute;
	left:158px;
	top:576px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}