<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="wrap">
        <form class="login" action="session" method="post">
            <div class="login_logo">
                <img src="img/image_146.png" width="150" height="150">
            </div>

            <div>
                <h2>관리자 로그인</h2>

            </div>
            <div class="login_email">
                <h4>E-mail</h4>
                <input type="email" name="" id="" placeholder="Email">
            </div>

            <div class="login_pw">
                <h4>Password</h4>
                <input type="password" name="" id="" placeholder="Password">
            </div>
            
            <div class="button">
                <input type="submit" class="btn" value="확인"/>
            </div>
        </form>
        <!-- </div> -->
    </div>
</body>

</html>