<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Eat-IT</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google Web Fonts -->
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.15.4/css/all.css}" />
    <link href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
    <link th:href="@{lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/search.css}" rel="stylesheet">
    <link th:href="@{/css/meetingList.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <style>
        
    </style>
</head>

<body>

    <!-- Spinner Start -->
<!--    <div id="spinner"-->
<!--        class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">-->
<!--        <div class="spinner-grow text-primary" role="status"></div>-->
<!--    </div>-->
    <!-- Spinner End -->


    <!-- Navbar start -->
    <nav class="container-fluid fixed-top">
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <!-- 로고 및 사이트 이름 -->
                <a th:href="@{/home}" class="navbar-brand">
                    <img th:src="@{/img/image_145.png}" src="/img/image_145.png" alt="Eat-IT Logo">
                    <h1 class="text-primary display-6">Eat-IT</h1>
                </a>

                <!-- 모바일용 네비게이션 토글 버튼 -->
                <button
                        class="navbar-toggler py-2 px-3"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse"
                >
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <!-- 네비게이션 메뉴 -->
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a th:href="@{/home}" class="nav-item nav-link active">홈</a>
                        <a th:href="@{/enroll-meeting/enroll-meeting}" class="nav-item nav-link">모임등록</a>
                        <a th:href="@{/search/list}" class="nav-item nav-link">모임찾기</a>
                        <!-- 모임목록은 로그인을 해야 들어갈 수 있기에 404 에러가 뜸-->
                        <a th:href="@{/meetingList/participatingList}" class="nav-item nav-link">모임목록</a>

                    </div>
                    <!-- 1:1 채팅 및 그룹 채팅 버튼 -->
                    <a th:href="@{/chat}" class="btn-chat my-auto">
                        <i class="fas fa-comments"></i>
                        <span class="btn-text">1:1채팅</span>
                    </a>
                    <a th:href="@{/chatGroup/chatrooms}" class="btn-chat my-auto">
                        <i class="fas fa-users"></i>
                        <span class="btn-text">그룹채팅</span>
                    </a>

                    <!-- 알림, 로그인, 회원가입 버튼 -->

                    <a href="#" th:href="@{/alarm}" class="btn-notification my-auto me-4">
                        <i class="fas fa-bell fa-2x"></i>
                        <span class="notification-dot"></span>
                    </a>
                    <a class="btn btn-danger rounded-pill me-2" th:href="@{/login/loginMain}" id="loginButton">
                        로그인
                    </a>
                    <a class="btn btn-outline-danger rounded-pill" th:href="@{/login/join}" id="signupButton">
                        회원가입
                    </a>


                </div>
            </nav>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Modal Search Start -->
<!--    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-fullscreen">-->
<!--            <div class="modal-content rounded-0">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body d-flex align-items-center">-->
<!--                    <div class="input-group w-75 mx-auto d-flex">-->
<!--                        <input type="search" class="form-control p-3" placeholder="keywords"-->
<!--                            aria-describedby="search-icon-1">-->
<!--                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Modal Search End -->


    <!-- Hero Start -->
<!--    <div>-->
<!--        <h1 th:text=" ">-->
<!--        </h1>-->
<!--    </div>-->
    <!-- Hero End -->


    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
        <div class="container py-5" style="margin-top: 30px">
            <form th:action="@{/search/list}" method="post">
                <div class="align-center">
                    <h1>모임 검색</h1>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" name="word" class="form-control p-3" placeholder="검색어를 입력해주세요."
                                aria-describedby="search-icon-1">
                            <button type="submit" id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div>

                    <div class="form-group">
                        <label>모임종류</label>
                        <div class="checkbox-group">
                            <ul class="checkbox-group" th:each="type : ${types}">
                                <li>
                                    <input type="radio" class="btn-check" name="typeCondition" th:value="${type}" th:id="${type}" autocomplete="off">
                                    <label class="btn btn-outline-success" th:for="${type}" th:text="${type}">파이썬</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>관심분야</label>
                        <div class="checkbox-group">
                            <ul class="checkbox-group" th:each="interest : ${interests}">
                                <li>
                                    <input type="checkbox" class="btn-check" name="interestsConditions" th:value="${interest}" th:id="${interest}" autocomplete="off">
                                    <label class="btn btn-outline-success" th:for="${interest}" th:text="${interest}">파이썬</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
<!--            <div>-->
<!--                <h5 class="mb-5 fw-bold padding-left-20px">#관심 개발분야</h5>-->
                <!-- <div class="contents-container">
                    <div class="contents-container-item hashtag"><p class="align-center">FE</p></div>
                    <div class="contents-container-item hashtag"><p class="align-center">iOS</p></div>
                    <div class="contents-container-item hashtag"><p class="align-center">Android</p></div>
                </div> -->
<!--                <ul class="nav nav-pills d-inline-flex text-center mb-5">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" th:href="@{#tab-1}">-->
<!--                            <span class="text-dark" style="width: 130px;">FE</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="d-flex py-2 m-2 bg-light rounded-pill" data-bs-toggle="pill" th:href="@{#tab-2}">-->
<!--                            <span class="text-dark" style="width: 130px;">iOS</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" th:href="@{#tab-3}">-->
<!--                            <span class="text-dark" style="width: 130px;">Android</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
            <!-- <h1 class="mb-4">Fresh fruits shop</h1> -->
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-xl-3">
                            <!-- <div class="input-group w-100 mx-auto d-flex">
                                <input type="search" class="form-control p-3" placeholder="keywords"
                                    aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3"><i
                                        class="fa fa-search"></i></span>
                            </div> -->
                        </div>
                        <div class="col-6"></div>
<!--                        <div class="col-xl-3">-->
<!--                            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">-->
<!--                                <label for="fruits">정렬</label>-->
<!--                                <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3">-->
<!--                                    <option value="volvo">없음</option>-->
<!--                                    <option value="saab">인기</option>-->
<!--                                    <option value="opel">빠른 날짜순</option>-->
<!--                                    <option value="audi">관심도</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="row g-4">
                                        <!-- 타임리프를 사용하여 저장된 데이터만큼 반복 -->
                                        <div th:each="meeting : ${previewMeetingList}" class="col-md-6 col-lg-4 col-xl-3">
                                            <a th:href="@{|/detail/detail?meetingId=${meeting.meetingId}|}"
                                               class="meeting-link">
                                                <div class="rounded position-relative fruite-item">

                                                    <!-- 모임 이미지 -->
                                                    <div class="fruit-img">
                                                        <img th:src="${meeting.meetingImageURL}"
                                                             class="other-image img-fluid w-100 rounded-top" alt=""/>
                                                    </div>

                                                    <!-- 모임 정보 -->
                                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                        <h4 th:text="${meeting.title}">모임 제목</h4>
                                                        <p th:text="${meeting.locationName}">모임 위치</p>
                                                        <div class="d-flex justify-content-between flex-lg-wrap">

                                                            <!-- 호스트 프로필과 참가 인원 -->
                                                            <div class="profile-container">
                                                                <img th:src="${meeting.hostImageURL}" alt="Profile Picture"
                                                                     class="profile-image">
                                                                <span class="profile-text"
                                                                      th:text="${meeting.recruitMemberNumber + '/' + meeting.recruitmentNumber + '명'}">참가 인원</span>
                                                            </div>

                                                            <!-- 모임 상태 -->
                                                            <div class="meeting-status text-info fw-bold"
                                                                 th:text="${meeting.status}">모임 상태
                                                            </div>

                                                            <!-- 모임 날짜 및 시간 -->
                                                            <p class="text-dark fs-5 fw-bold mb-0"
                                                               th:text="${meeting.scheduledDate}">모임 날짜 및 시간</p>

                                                            <!-- 찜하기 기능 -->
                                                            <!--<a href="#" class="icon" th:onclick="'toggleFavorite(event, \'heartIcon' + ${meeting.id} + '\')'">
                                                                <i th:id="'heartIcon' + ${meeting.id}" class="fas fa-heart me-2 text-primary"></i> 찜하기
                                                            </a>
                                                            -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <!-- 타임리프 반복문 종료 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->


    <!-- Footer Start -->

    <!-- Footer End -->

    <!-- Copyright Start -->
    <!-- Copyright End -->



    <!-- Back to Top -->
<!--    <a th:href="@{#}" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i-->
<!--            class="fa fa-arrow-up"></i></a>-->


    <!-- JavaScript Libraries -->
    <script th:src="@{/https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
    <script src="/https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/lib/easing/easing.min.js}"></script>
    <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{/js/main.js}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 서버에서 세션 사용자 정보를 가져오는 함수
            function getSessionUser() {
                return fetch('/login/getSessionUser', {
                    method: 'GET',
                    credentials: 'include', // 세션 정보를 포함하여 요청
                })
                    .then(response => response.json())
                    .then(data => data)
                    .catch(error => {
                        console.error('Error:', error);
                        return null;
                    });
            }

            async function updateButtons() {
                const loginButton = document.getElementById('loginButton');
                const signupButton = document.getElementById('signupButton');

                const user = await getSessionUser();

                if (user && user.email) { // 로그인한 사용자가 있을 경우
                    loginButton.textContent = '로그아웃';
                    loginButton.setAttribute('href', '/login/logout'); // 로그아웃 URL로 업데이트
                    signupButton.textContent = '마이페이지';
                    signupButton.setAttribute('href', '/my-page'); // 마이페이지 URL로 업데이트
                } else { // 로그인한 사용자가 없을 경우
                    loginButton.textContent = '로그인';
                    loginButton.setAttribute('href', '/login/loginMain');
                    signupButton.textContent = '회원가입';
                    signupButton.setAttribute('href', '/login/join');
                }
            }

            updateButtons();

            // 알림 버튼 이벤트
            document.querySelector('.btn-notification').addEventListener('click', function () {
                const notificationDot = this.querySelector('.notification-dot');
                notificationDot.style.display = notificationDot.style.display === 'none' ? 'block' : 'none';
                alert('새 알림이 있습니다.');
            });

            // 로그인 버튼 클릭 시 login.html로 이동
            document.getElementById('loginButton').addEventListener('click', function (event) {
                if (this.textContent === '로그아웃') {
                    event.preventDefault();
                    fetch('/login/logout', {
                        method: 'GET',
                        credentials: 'include', // 세션 정보를 포함하여 요청
                    })
                        .then(() => {
                            localStorage.removeItem('isLoggedIn');
                            window.location.href = '/';
                        })
                        .catch(error => console.error('Error:', error));
                }
            });

            // 회원가입 버튼 클릭 시 join.html로 이동
            document.getElementById('signupButton').addEventListener('click', function () {
                if (this.textContent !== '마이페이지') {
                    window.location.href = '/login/join';
                } else {
                    window.location.href = '/my-page'; // 실제 마이페이지 URL로 업데이트
                }
            });
        });
    </script>
</body>

</html>