<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>평가 폼</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/review.css" th:href="@{/css/review.css}">
</head>

<body class="bg-gray-100 p-4">
<div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-xl font-bold mb-4" th:text="${meetingInfo.title}">즐거운 AI 이야기(스타벅스)</h2>
    <p class="text-gray-600 mb-6" th:text="${meetingInfo.scheduledDate}">24년 6월 21일 금요일 16:30</p>

    <div th:each="member, iterStat : ${memberList}">
        <div class="mb-6">
            <h3 class="text-lg font-semibold mb-2" th:text="${member.nickname} + '님은 어땠나요?'">모임원은 어땠나요?</h3>
            <div class="flex space-x-2 mb-4">
                <button class="bg-blue-500 text-white px-4 py-2 rounded openModalBtn">평가하기</button>
            </div>
            <div class="manager-feedback text-gray-700">
                <div class="selected-feedback hidden mb-2">
                    <strong>선택한 항목:</strong>
                    <ul class="selected-items"></ul>
                </div>
                <div class="modal-feedback"></div>
            </div>
        </div>

        <div th:attr="id='myModal' + ${iterStat.index}" class="modal">
            <div class="modal-content">
                <div class="container">

                    <div class="text-center mb-6">
                        <img src="/static/img/profile.png" th:src="@{member.photoPath}" alt="프로필 사진"
                             class="profile-picture">
                        <p class="profile-name" th:text="${member.nickname}">이름</p>
                    </div>

                    <!--<form action="/review/regist" method="post">-->
                        <!-- 모달 -->
                        <div class="checkbox-grid">
                            <label class="checkbox-label">

                                <!-- 매너 행동 --><!-- 매너 행동 --><!-- 매너 행동 --><!-- 매너 행동 --><!-- 매너 행동 -->

                                <!-- 첫 번째 체크박스 -->
                                <input type="checkbox" class="form-checkbox" value="즐거운 시간을 보냈습니다.">
                                <!-- 첫 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">밝은 사람입니다.</span>
                            </label>

                            <label>
                                <!-- 두 번째 체크박스 -->
                                <input type="checkbox" class="form-checkbox" value="매우 유익합니다.">
                                <!-- 두 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">매우 유익합니다.</span>
                            </label>

                            <label>
                                <!-- 세 번째 체크박스 -->
                                <input type="checkbox" class="form-checkbox" value="많이 즐겼습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">많이 즐겼습니다.</span>
                            </label>

                            <label>
                                <!-- 세 번째 체크박스 -->
                                <input type="checkbox" class="form-checkbox" value="많은 것을 배웠습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">많이 배웠습니다.</span>
                            </label>

                            <label>
                                <!-- 세 번째 체크박스 -->
                                <input type="checkbox" class="form-checkbox" value="매우 유익합니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">매우 유익합니다.</span>
                            </label>

                            <label>
                                <!-- 세 번째 체크박스 -->
                                <input type="checkbox" class="form-checkbox" value="다시 만나고싶습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">다시 만나고싶습니다.</span>
                            </label>

                            <label>
                                <!-- 세 번째 체크박스 -->
                                <input type="checkbox" class="form-checkbox" value="친절하고 사려 깊었습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">친절했습니다.</span>
                            </label>

                            <label>
                                <!-- 세 번째 체크박스 -->
                                <input type="checkbox" class="form-checkbox" value="모임 분위기를 잘 이끌었습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">분위기를 잘 이끌었습니다.</span>
                            </label>

                            <label>
                                <!-- 세 번째 체크박스 -->
                                <input type="checkbox" class="form-checkbox" value="유익한 정보를 제공했습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">유익한 정보가 많습니다.</span>
                            </label>

                            <label>
                                <!-- 세 번째 체크박스 -->
                                <input type="checkbox" class="form-checkbox" value="적극적으로 참여했습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">적극적으로 참여했습니다.</span>
                            </label>

                            <!-- 비매너 행동 --><!-- 비매너 행동 --><!-- 비매너 행동 --><!-- 비매너 행동 --><!-- 비매너 행동 -->
                            <label>
                                <!-- 세 번째 체크박스 -->
                                <input type="checkbox" class="form-checkbox" value="비매너 행동이 있었습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">비매너 행동이 있었습니다.</span>
                            </label>

                            <label>
                                <input type="checkbox" class="form-checkbox" value="시간 약속을 지키지 않았습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">시간을 지키지 않았습니다.</span>
                            </label>

                            <label>
                                <input type="checkbox" class="form-checkbox" value="부적절한 언행이 있었습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">언행이 과격합니다.</span>
                            </label>

                            <label>
                                <input type="checkbox" class="form-checkbox" value="모임 분위기를 해쳤습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">눈치가 없습니다.</span>
                            </label>

                            <label>
                                <input type="checkbox" class="form-checkbox" value="소극적이었습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">소극적이었습니다.</span>
                            </label>

                            <label>
                                <input type="checkbox" class="form-checkbox" value="상대방을 배려하지 않았습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">배려가 없습니다.</span>
                            </label>

                            <label>
                                <input type="checkbox" class="form-checkbox" value="상대방의 의견을 무시했습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">본인 말만 합니다.</span>
                            </label>

                            <label>
                                <input type="checkbox" class="form-checkbox" value="상호작용이 부족했습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">모임에 소극적입니다.</span>
                            </label>

                            <label>
                                <input type="checkbox" class="form-checkbox" value="지나치게 비판적이었습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">비판적이었습니다.</span>
                            </label>

                            <label>
                                <input type="checkbox" class="form-checkbox" value="같이 있기 부끄럽습니다.">
                                <!-- 세 번째 체크박스 옆에 표시되는 텍스트 -->
                                <span class="ml-2">같이 있기 부끄럽습니다.</span>
                            </label>
                            <!-- 다른 체크박스 항목들을 추가할 수 있는 자리 -->
                            <!-- 예: <input type="checkbox" class="form-checkbox" value="다른 항목"><span class="ml-2">다른 항목</span> -->

                        </div>
                        <div class="text-center">
                            <button class="bg-blue-500 text-white px-6 py-2 rounded submit-btn" type="submit">제출
                            </button>
                        </div>
                    <!--</form>-->

                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="bg-red-500 text-white px-6 py-2 rounded" onclick="location.href='/meetingList/endList'">확인
        </button>
    </div>
</div>

<script src="/static/js/review.js" th:src="@{/js/review.js}"></script>
</body>
</html>