<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Alarms</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/template.css}" rel="stylesheet">
    <link th:href="@{/css/alarm.css}" rel="stylesheet">

    <script src="/js/alarm.js"></script>


</head>


<body>

    <!-- Spinner Start -->
    <div id="spinner"
        class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar start -->
    <div class="container-fluid fixed-top">
        <div class="container px-0">
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="../home/home.html" class="navbar-brand"><img class=logo src="/img/logo.png" alt="logo"/></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="../home/home.html" class="nav-item nav-link">홈</a>
                            <a href="../enroll-meeting/index.html" class="nav-item nav-link">모임 등록하기</a>
                            <a href="../search/list.html" class="nav-item nav-link header-menu-active">모임 찾기</a>
                            <a id="open" href="../meetingList-page/like-page.html" class="nav-item nav-link">모임목록</a>
                        </div>
                        <div class="d-flex m-3 me-0">
                            <!-- 새 알람이 있으면 배지 달리는 벨 아이콘 start -->
                            <div id="alarmCheck" style="display:none" th:text="${isAlarmRinging}">Ring!</div>
                            <a href="/alarm/alarm" class="btn-notification my-auto me-4 position-relative">
                                <i class="fas fa-bell fa-2x ">
                                </i>
                                <div id="alarm-badge">
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                        <span class="visually-hidden">New alerts</span>
                                    </span>
                                </div>
                            </a>
                            <script src="/js/alarm_badge.js"></script>
                            <!-- 새 알람이 있으면 배지 달리는 벨 아이콘 End -->
                            <button class="btn btn-danger rounded-pill me-2"
                                onclick="location.href='../newPagetemplate/newlogin.html'" id="loginButton">로그인</button>
                            <button class="btn btn-outline-danger rounded-pill"
                                onclick="location.href='../newPagetemplate/newjoin.html'"
                                id="signupButton">회원가입</button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <!-- <h1 class="text-center text-white display-6">Shop</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-white">Shop</li>
        </ol> -->
    </div>
    <!-- Single Page Header End -->


    <!-- Alarm List Start -->
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <div class="align-center">
                <h1>알람</h1>
            </div>
        </div>
    </div>

    <div class="container">
<!--        <span th:text="${alarmList[0].getMeetingId()}">ff</span>-->
<!--        <img th:id="|target_meeting_img_${alarmList[0].getMeetingId()}|" src="/img/test_image.png">-->
<!--        <script>getMeetingImage([[${alarmList[0].getMemberId()}]])</script>-->
        <tr th:each="alarm : ${alarmList}">
            <div type="button" class="alarm highlight " data-bs-toggle="modal"
                 data-bs-target="#alarmDetailModal" th:onclick="getAlarmDeatil([[${alarm.getAlarmId()}]])">
<!--                <div style="display:none;" th:text="${alarm.getAlarmId()}" />-->
                <img th:class="|target_meeting_img_${alarm.getMeetingId()}|" src="/img/test_image.png">
<!--                <script>getMeetingImage([[${alarm.getMeetingId()}]])</script>-->
                <div class="text">
                    <td th:text="${alarm.getMeetingName()}" class="text">참가 신청 한 모임 이름</td><td>의 참가 신청이 들어왔어요!</td>
<!--                        <small class="important" th:text="${alarm.getAlarmDetail()}">모임 신청이 도착했어요!</small>-->
                </div>
                <label th:text="${alarm.getAlarmTime()}">date</label>
            </div>
        </tr>
        <script>getMeetingImages([[${meetingIdList}]])</script>

        <!-- Modal Start -->
        <div class="modal fade" id="alarmDetailModal" tabindex="-1" aria-labelledby="alarmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">참가 신청</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="alarmModelBody" class="modal-body">
                        <div class="d-flex align-items-start">
                            <img id="user-profile-image" src="/img/test_image.png" class="rounded-circle me-3" style="width: 60px; height: 60px;">
                            <div>
                                <h5 class="mt-0" id="alarm-userName">신청한 사람</h5>
                                <p class="text-muted"><span id="alarm-meetingName">모임 이름</span>에 참가 신청 하셨어요</p>
                                <p id="alarm-detail-introduce"></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="refuse_btn" class="btn btn-secondary" data-bs-dismiss="modal">거절</button>
                        <button id="accept_btn" class="btn btn-primary">승인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal END -->

<!--        필요한것-->
<!--        1. 미팅 이름-->
<!--        2. 사람 이름-->
<!--        3. 사람 프로필 링크-->
<!--        4. 미팅 링크-->
<!--        5. 이미지 링크-->


    <!-- Alarm List End -->





    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
        <div class="container py-5">
            <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5)">
                <div class="row g-4">
                    <div class="col-lg-3">
                        <a href="#">
                            <h1 class="text-primary mb-0">Eat IT</h1>
                            <p class="text-secondary mb-0">먹고 마시며 즐기는 인맥 확장의 기회!<br>
                                소소한 IT 소모임 “Eat IT”
                                <br>🍽️🍝🍦🍕🍣🍳🍛🌭🍰🍛🍚🍮🌮☕️
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">NOTICE</h4>
                    <p class="mb-4">
                        공지사항
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">ABOUT US</h4>
                    <a class="btn-link" href="">Eat IT 소개</a>
                    <a class="btn-link" href="">회사 소개</a>
                    <a class="btn-link" href="">인재 채용</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">팀원 소개</h4>
                    <a class="btn-link" href="">팀원 깃허브</a>
                    <div class="team-member">
                        <img src="../main-page/img/image_team.png" alt="Team Member" class="team-member-img">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">github</h4>
                    <a class="btn-link" href="">https://github.com/Practice-i5/EatIT-FE</a>
                    <a class="btn-link" href="">팀 노션</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Footer End -->

    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Your Site
                            Name</a>, All right reserved.</span>
                </div>
                <div class="col-md-6 my-auto text-center text-md-end text-white">
                    <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                    <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                    <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a
                        class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i
            class="fa fa-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/detail.js"></script>



</body>
</html>