<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--내가 만든 Mapper이름과 동일하게 지정-->
<mapper namespace="com.i7.eatit.admin.mapper.AdminMapper">

  <resultMap id="AdminMemberResultMap" type="com.i7.eatit.admin.dto.AdminMemberDto">
    <result property="memberId" column="member_id"/>

    <result property="email" column="email"/>
    <result property="password" column="password"/>
    <result property="name" column="name"/>

    <result property="nickname" column="nickname"/>
    <result property="loginMethod" column="login_method"/>
    <result property="phoneNumber" column="phone_number"/>

    <result property="createdDate" column="created_date"/>
    <result property="withdrawalStatus" column="withdrawal_status"/>
    <!-- TODO : 신고 당한 횟수도 추가해야 함.-->
  </resultMap>

  <select id="findAllMember" resultMap="AdminMemberResultMap">
    SELECT * FROM tbl_member
  </select>

</mapper>