<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.i7.eatit.domain.relationship.dao.FollowMapper">

    <resultMap id="followUserMap" type="com.i7.eatit.domain.relationship.dto.FollowInfoDetailDTO">
        <id property="followId" column="FOLLOW_ID"/>
        <result property="followerId" column="FOLLOWER_ID"/>
        <result property="followeeId" column="FOLLOWEE_ID"/>
        <result property="followDate" column="FOLLOW_DATE"/>
        <association property="detailProfile" javaType="com.i7.eatit.domain.user.dto.UserPhotoProfileDTO">
            <id property="memberId" column="MEMBER_ID"/>
            <result property="nickname" column="NICKNAME"/>
            <result property="phoneNumber" column="PHONE_NUMBER"/>
            <result property="withdrawalStatus" column="WITHDRAWAL_STATUS"/>
            <result property="reportedCount" column="REPORTED_COUNT"/>
            <association property="memberPhoto" javaType="com.i7.eatit.domain.picture.dto.MemberPhotoDTO">
                <result property="photoName" column="PHOTO_NAME"/>
                <result property="photoPath" column="PHOTO_PATH"/>
            </association>
        </association>
    </resultMap>

    <select id="findFollowMember" parameterType="hashmap" resultMap="followUserMap">
        SELECT
                A.FOLLOW_ID, A.FOLLOW_DATE, A.FOLLOWER_ID, A.FOLLOWEE_ID
              , D.MEMBER_ID, D.NICKNAME, D.PHONE_NUMBER ,  D.WITHDRAWAL_STATUS
              , D.REPORTED_COUNT, D.PHOTO_PATH, D.PHOTO_NAME
        FROM TBL_FOLLOW A
        JOIN (
            SELECT
                B.MEMBER_ID, B.NICKNAME, B.PHONE_NUMBER, B.WITHDRAWAL_STATUS
              , B.REPORTED_COUNT, C.PHOTO_PATH, C.PHOTO_NAME
            FROM
                TBL_MEMBER B
            JOIN
                TBL_MEMBER_PHOTO C
        ON B.MEMBER_ID = C.MEMBER_ID
        ) D
        ON A.FOLLOWEE_ID= D.MEMBER_ID
        WHERE A.FOLLOWER_ID=#{memberId}
        <if test="start != null and start >= 0 and row != null and row > 0">
            LIMIT #{start}, #{row}
        </if>
    </select>

    <select id="countFollowMember" resultType="_int" parameterType="_int">
        SELECT count(*) FROM TBL_FOLLOW
        WHERE FOLLOWER_ID=#{memberId}
    </select>

    <delete id="deleteFollowMember" parameterType="hashmap">
        DELETE FROM TBL_FOLLOW
        WHERE FOLLOWER_ID= #{followerId}
        AND FOLLOWEE_ID = #{followeeId}
    </delete>

    <insert id="insertFollowMember" parameterType="hashmap"
            useGeneratedKeys="true" keyProperty="followId">
        INSERT TBL_FOLLOW
        (FOLLOW_DATE, FOLLOWER_ID, FOLLOWEE_ID)
        VALUES(
        NOW(),
        #{followerId},
        #{followeeId})
    </insert>

</mapper>