<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.i7.eatit.domain.chatting.dao.GroupChatMapper">

    <resultMap id="groupChatMap" type="com.i7.eatit.domain.chatting.dto.GroupChatDTO">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <collection property="users" ofType="com.i7.eatit.domain.user.dto.UserInfoDTO" column="ID" select="com.i7.eatit.domain.user.dao.UserMapper.findUsersByGroupId"/>
    </resultMap>

    <select id="findGroupById" resultMap="groupChatMap" parameterType="int">
        SELECT * FROM TBL_GROUP_CHAT WHERE ID = #{groupId}
    </select>

    <select id="findGroupsByUserId" resultMap="groupChatMap" parameterType="int">
        SELECT gc.*
        FROM TBL_GROUP_CHAT gc
        JOIN TBL_GROUP_MEMBER gm ON gc.ID = gm.GROUP_ID
        WHERE gm.USER_ID = #{userId}
    </select>

</mapper>
