<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.i7.eatit.home.dao.HomeMapper">

    <!-- ResultMap 정의 -->
    <resultMap id="homeResultMap" type="com.i7.eatit.domain.meeting.model.dto.PreviewMeetingDTO">
        <id property="meetingId" column="meeting_id"/>
        <result property="title" column="title"/>
        <result property="locationName" column="location_name"/>
        <result property="meetingImageURL" column="meeting_url"/>
        <result property="hostImageURL" column="member_url"/>
        <result property="status" column="status"/>
        <result property="scheduledDate" column="scheduled_date"/>
        <result property="recruitMemberNumber" column="recruit_member_number"/>
        <result property="recruitmentNumber" column="recruitment_number"/>
    </resultMap>

    <!-- SQL 쿼리 정의 -->
    <select id="findPreviewAllMeetings" resultMap="homeResultMap">
        SELECT
        A.MEETING_ID
        , A.TITLE
        , A.LOCATION_NAME
        , B.PHOTO_PATH AS meeting_url
        , C.PHOTO_PATH AS member_url
        , A.STATUS
        , A.SCHEDULED_DATE
        , A.RECRUIT_MEMBER_NUMBER
        , A.RECRUITMENT_NUMBER
        FROM
        TBL_MEETING AS A
        LEFT JOIN   TBL_MEETING_PHOTO AS B
        ON          A.MEETING_ID = B.MEETING_ID
        LEFT JOIN   TBL_MEMBER_PHOTO AS C
        ON          A.HOST_MEMBER_ID = C.MEMBER_ID
        LEFT JOIN   TBL_MEETING_INTEREST_RELATION AS D
        ON          A.MEETING_ID = D.MEETING_ID
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="word != null and word != ''">
                A.TITLE LIKE CONCAT('%', #{ word }, '%')
            </if>
            <if test="interestsConditions != null and interestsConditions.size() != 0">
                AND D.INTERESTS IN
                <foreach collection="interestsConditions" item="condition" open="(" close=")" separator=", ">
                    #{ condition }
                </foreach>
            </if>
            <if test="typeCondition != null and typeCondition != ''">
                AND A.MEETING_TYPE = #{ typeCondition }
            </if>
            AND A.STATUS = 'Open'
        </trim>
        GROUP BY
        A.MEETING_ID
        , A.TITLE
        , A.LOCATION_NAME
        , B.PHOTO_PATH
        , C.PHOTO_PATH
        , A.STATUS
        , A.SCHEDULED_DATE
        , A.RECRUIT_MEMBER_NUMBER
        , A.RECRUITMENT_NUMBER
    </select>

</mapper>
