<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/i7/eatit/domain/user/dao/JoinMemberProfileMapper">

    <!--JoinMemberProfileDTO Mapping-->
    <resultMap id="JoinMemberProfileMap" type="com.i7.eatit.domain.user.dto.JoinMemberProfileDTO">
        <id property="meeting_id" column="MEETING_ID"/>

        <result property="member_id" column="MEMBER_ID"/>
        <result property="nickname" column="NICKNAME"/>

        <!--memberPhoto-->
        <association property="photo" javaType="com.i7.eatit.domain.picture.dto.MemberPhotoDTO">
             <id property="memberPhotoId" column="PHOTO_ID"/>

            <result property="photoPath" column="PHOTO_PATH"/>
            <result property="photoName" column="PHOTO_NAME"/>
            <result property="memberId" column="MEMBER_ID"/>
        </association>

        <!--techStack-->
        <collection property="myTechStackList" ofType="com.i7.eatit.domain.user.dto.TechStackDTO">
            <result property="javaScript" column="JAVASCRIPT"/>
            <result property="python" column="PYTHON"/>
            <result property="java" column="JAVA"/>
            <result property="cSharp" column="CSHARP"/>
            <result property="ruby" column="RUBY"/>
            <result property="php" column="PHP"/>
            <result property="swift" column="SWIFT"/>
            <result property="kotlin" column="KOTLIN"/>
            <result property="go" column="GO"/>
            <result property="rust" column="RUST"/>
        </collection>

    </resultMap>

    <select id="findJoinUser" resultMap="JoinMemberProfileMap">
        SELECT
                    B.MEMBER_ID
                    , A.STACK_NAME
                    , C.NICKNAME
                    , D.PHOTO_PATH
                    , A.STACK_NAME JAVASCRIPT
                    , A.STACK_NAME PYTHON
                    , A.STACK_NAME JAVA
                    , A.STACK_NAME CSHARP
                    , A.STACK_NAME RUBY
                    , A.STACK_NAME PHP
                    , A.STACK_NAME SWIFT
                    , A.STACK_NAME KOTLIN
                    , A.STACK_NAME GO
                    , A.STACK_NAME RUST
        FROM
                    TBL_TECH_STACK_TYPE A
        LEFT JOIN
                    TBL_MEMBER_TECH_STACK B
        ON
                    A.STACK_CODE = B.STACK_CODE
        LEFT JOIN
                    TBL_MEMBER C
        ON
                    C.MEMBER_ID = B.MEMBER_ID
        LEFT JOIN
                    TBL_MEMBER_PHOTO D
        ON
                    D.MEMBER_ID = B.MEMBER_ID
        WHERE
                    MEETING_ID = #{ meetingId }
    </select>

</mapper>