<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--내가 만든 Mapper이름과 동일하게 지정-->
<mapper namespace="com.i7.eatit.domain.user.dao.LoginMapper">

    <resultMap id="userLoginMap" type="com.i7.eatit.domain.user.dto.UserInfoDTO">

        <id property="member_id" column="MEMBER_ID"/>

        <result property="email" column="EMAIL"/>
        <result property="password" column="PASSWORD"/>
        <result property="name" column="NAME"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="loginMethod" column="LOGIN_METHOD"/>
        <result property="phoneNumber" column="PHONE_NUMBER"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="withdrawalStatus" column="WITHDRAWAL_STATUS"/>
        <result property="reportedCount" column="REPORTED_COUNT"/>

    </resultMap>

    <!--로그인-->
    <select id="selectUser" resultMap="userLoginMap" parameterType="hashmap">
        SELECT
                MEMBER_ID
                , EMAIL
                , PASSWORD
                , NAME
                , NICKNAME
                , LOGIN_METHOD
                , PHONE_NUMBER
                , CREATED_DATE
                , WITHDRAWAL_STATUS
                , REPORTED_COUNT
        from
                TBL_MEMBER
        where
                EMAIL = #{ email }
        and
                PASSWORD = #{ password }
    </select>
</mapper>