<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--내가 만든 Mapper이름과 동일하게 지정-->
<mapper namespace="com.i7.eatit.domain.user.dao.LoginMapper">

    <resultMap id="userLoginMap" type="com.i7.eatit.domain.user.dto.UserLoginDTO">
        <id property="member_id" column="member_id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
    </resultMap>


    <!--로그인-->
    <select id="selectUser" resultMap="userLoginMap" parameterType="hashmap">
        select
                member_id
                , email
                , password
        from
                tbl_member
        where
                email = #{ email }
        and
                password = #{ password }
    </select>
</mapper>