<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.i7.eatit.domain.meeting.model.dao.MeetingMapper">
    <resultMap id="meetingResultMap" type="com.i7.eatit.domain.meeting.model.dto.MeetingDTO">
        <id property="meetingId" column="meeting_id"/>
        <result property="title" column="title"/>
        <result property="locationName" column="location_name"/>
        <result property="locationLatitude" column="location_latitude"/>
        <result property="locationLongitude" column="location_longitude"/>
        <result property="introduction" column="introduction"/>
        <result property="paymentMethod" column="payment_method"/>
        <result property="meetingType" column="meeting_type"/>
        <result property="interests" column="interests"/>
        <result property="scheduledDate" column="scheduled_date"/>
        <result property="exitRestrictionTime" column="exit_restriction_time"/>
        <result property="recruitmentNumber" column="recruitment_number"/>
        <result property="gender" column="gender"/>
        <result property="eligibleAge" column="eligible_age"/>
        <result property="createdDate" column="created_date"/>
        <result property="participationMethod" column="participation_method"/>
        <result property="status" column="status"/>
        <result property="endDate" column="end_date"/>
        <result property="hostMemberId" column="host_member_id"/>
    </resultMap>

    <select id="findAllMeetings" resultMap="meetingResultMap">
        SELECT
                MEETING_ID
                ,TITLE
                ,LOCATION_NAME
                ,LOCATION_LATITUDE
                ,LOCATION_LONGITUDE
                ,INTRODUCTION
                ,PAYMENT_METHOD
                ,MEETING_TYPE
                ,INTERESTS
                ,SCHEDULED_DATE
                ,EXIT_RESTRICTION_TIME
                ,RECRUITMENT_NUMBER
                ,GENDER
                ,ELIGIBLE_AGE
                ,CREATED_DATE
                ,PARTICIPATION_METHOD
                ,STATUS
                ,END_DATE
                ,HOST_MEMBER_ID
        FROM
            TBL_MEETING
    </select>

    <insert id="registMeeting" parameterType="com.i7.eatit.domain.meeting.model.dto.MeetingDTO">
        INSERT INTO TBL_MEETING
        (
            TITLE
            ,LOCATION_NAME
            ,LOCATION_LATITUDE
            ,LOCATION_LONGITUDE
            ,INTRODUCTION
            ,PAYMENT_METHOD
            ,MEETING_TYPE
            ,INTERESTS
            ,SCHEDULED_DATE
            ,EXIT_RESTRICTION_TIME
            ,RECRUITMENT_NUMBER
            ,GENDER
            ,ELIGIBLE_AGE
            ,CREATED_DATE
            ,PARTICIPATION_METHOD
            ,STATUS
            ,END_DATE
            ,HOST_MEMBER_ID
        )
        VALUES
        (
            #{ title }
            ,#{ locationName }
            ,#{ locationLatitude }
            ,#{ locationLongitude }
            ,#{ introduction }
            ,#{ paymentMethod }
            ,#{ meetingType }
            ,#{ interests }
            ,#{ scheduledDate }
            ,#{ exitRestrictionTime }
            ,#{ recruitmentNumber }
            ,#{ gender }
            ,#{ eligibleAge }
            ,#{ createdDate }
            ,#{ participationMethod }
            ,#{ status }
            ,#{ endDate }
            ,#{ hostMemberId }
        )
    </insert>
</mapper>