<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.i7.eatit.domain.tag.dao.MemberTechStackMapper">
<!--    <resultMap id="MemberTechStackMap" type="com.i7.eatit.domain.tag.dto.MemberTechStackDTO">-->
<!--        <result property="stackCode" column="STACK_CODE"/>-->
<!--        <result property="memberId" column="MEMBER_ID"/>-->
<!--    </resultMap>-->

    <resultMap id="MemberTechStackDetailMap" type="com.i7.eatit.domain.tag.dto.MemberTechStackDetailDTO">
        <id property="stackCode" column="STACK_CODE"/>
        <id property="memberId" column="MEMBER_ID"/>
        <result property="techStack" javaType="com.i7.eatit.domain.tag.dto.TechStackTypeDTO"/>
    </resultMap>

    <select id="findMemberTechStack" resultMap="MemberTechStackDetailMap" parameterType="_int" >
        SELECT FROM
            TBL_MEMBER_TECH_STACK A
        JOIN TBL_TECH_STACK_TYPE B
        ON A.STACK_CODE=B.STACK_CODE
        WHERE MEMBER_ID={memberId}
    </select>


    <insert id="addMemberTechStack" parameterType="com.i7.eatit.domain.tag.dto.MemberTechStackDTO">
        INSERT INTO
               TBL_MEMBER_TECH_STACK
        VALUES (#{stackCode},
               #{memberId})
    </insert>
    <delete id="deleteMemberTechStack" parameterType="_int">
        DELETE FROM
              TBL_MEMBER_TECH_STACK
        WHERE
              MEMBER_ID=#{memberId}
    </delete>
</mapper>

