<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.i7.eatit.domain.tag.dao.MemberTechStackMapper">
    <resultMap id="MemberTechStackMap" type="com.i7.eatit.domain.tag.dto.MemberTechStackDTO">
        <result property="stackCode" column="STACK_CODE"/>
        <result property="memberId" column="MEMBER_ID"/>
    </resultMap>

    <insert id="addMemberTechStack" parameterType="com.i7.eatit.domain.tag.dto.MemberTechStackDTO">
        INSERT INTO
               TBL_MEMBER_TECH_STACK
        VALUES (#{stackCode},
               #{memberId})
    </insert>
    <delete id="deleteMemberAllTechStack" parameterType="_int">
        DELETE FROM
              TBL_MEMBER_TECH_STACK
        WHERE
              MEMBER_ID=#{memberId}
    </delete>
</mapper>

