<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    private int memberPhotoID;
    private int memberId;
    private String photoURL;
-->

<mapper namespace="com.i7.eatit.domain.picture.dao.PhotoMapper">
    <resultMap id="MemberPhotoMap" type="com.i7.eatit.domain.picture.dto.MemberPhotoDTO">
        <id property="memberPhotoId" column="PHOTO_ID"/>
        <result property="photoURL" column="PHOTO_URL"/>
        <result property="memberId" column="MEMBER_ID"/>
    </resultMap>

    <resultMap id="MeetingPhotoMap" type="com.i7.eatit.domain.picture.dto.MeetingPhotoDTO">
        <id property="meetingPhotoId" column="PHOTO_ID"/>
        <result property="photoURL" column="PHOTO_URL"/>
        <result property="meetingId" column="MEETING_ID"/>
    </resultMap>

    <select id="findPhotoByMemberID" resultMap="MemberPhotoMap">
        SELECT
               PHOTO_ID
            ,  PHOTO_URL
            ,  MEMBER_ID
        FROM
               TBL_MEMBER_PHOTO
    </select>

    <select id="findPhotoByMeetingId" resultMap="MeetingPhotoMap">
        SELECT
               PHOTO_ID
            ,  PHOTO_URL
            ,  MEETING_ID
          FROM
               TBL_MEETING_PHOTO
    </select>

    <insert id="uploadMemberPhoto" parameterType="com.i7.eatit.domain.picture.dto.MemberPhotoDTO">
    INSERT INTO TBL_MEMBER_PHOTO(
        PHOTO_ID
        ,  PHOTO_URL
        ,  MEMBER_ID
        ) VALUES
            (#{memberPhotoId},
            #{photoURL},
            #{memberId})
<!--        기존에 없으면 insert, 있으면 update -->
        ON DUPLICATE KEY UPDATE
        PHOTO_ID = #{memberPhotoId},
        PHOTO_URL = #{photoURL},
        MEMBER_ID = #{memberId}
    </insert>

    <insert id="uploadMeetingPhoto" parameterType="com.i7.eatit.domain.picture.dto.MeetingPhotoDTO">
        INSERT INTO TBL_MEMBER_PHOTO(
        PHOTO_ID
        ,  PHOTO_URL
        ,  MEETING_ID
        ) VALUES
        (#{meetingPhotoId},
        #{photoURL},
        #{meetingId})
    </insert>
</mapper>