<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    private int memberPhotoID;
    private int memberId;
    private String photoURL;
-->

<mapper namespace="com.i7.eatit.domain.picture.dao.PhotoMapper">
    <resultMap id="MemberPhotoMap" type="com.i7.eatit.domain.picture.dto.MemberPhotoDTO">
        <id property="memberPhotoId" column="PHOTO_ID"/>
        <result property="photoPath" column="PHOTO_PATH"/>
        <result property="photoName" column="PHOTO_NAME"/>
        <result property="memberId" column="MEMBER_ID"/>
    </resultMap>

    <resultMap id="MeetingPhotoMap" type="com.i7.eatit.domain.picture.dto.MeetingPhotoDTO">
        <id property="meetingPhotoId" column="PHOTO_ID"/>
        <result property="photoURL" column="PHOTO_URL"/>
        <result property="meetingId" column="MEETING_ID"/>
    </resultMap>

    <select id="findPhotoByMemberId" resultMap="MemberPhotoMap" parameterType="_int">
        SELECT
               PHOTO_ID
            ,  PHOTO_PATH
            ,  PHOTO_NAME
            ,  MEMBER_ID
          FROM
               TBL_MEMBER_PHOTO
         WHERE
               MEMBER_ID = #{memberId}

    </select>

    <select id="findPhotoByMeetingId" resultMap="MeetingPhotoMap" parameterType="_int">
        SELECT
               PHOTO_ID
            ,  PHOTO_PATH
            ,  PHOTO_NAME
            ,  MEETING_ID
          FROM
               TBL_MEETING_PHOTO
         WHERE
               MEETING_ID = #{meetingId}
    </select>

    <insert id="uploadMemberPhoto" parameterType="com.i7.eatit.domain.picture.dto.MemberPhotoDTO"
    useGeneratedKeys="true" keyProperty="memberPhotoId">
    INSERT INTO TBL_MEMBER_PHOTO(
        PHOTO_PATH
        ,  PHOTO_NAME
        ,  MEMBER_ID
        ) VALUES
            (#{photoPath},
            #{photoName},
            #{memberId})
<!--        기존에 없으면 insert, 있으면 update -->
        ON DUPLICATE KEY UPDATE
        PHOTO_PATH = #{photoPath},
        PHOTO_NAME = #{photoName},
        MEMBER_ID = #{memberId}
    </insert>

    <insert id="uploadMeetingPhoto" parameterType="com.i7.eatit.domain.picture.dto.MeetingPhotoDTO">
        INSERT INTO TBL_MEETING_PHOTO(
        PHOTO_PATH
        ,  PHOTO_NAME
        ,  MEETING_ID
        ) VALUES
        (#{photoPath},
        #{photoName},
        #{meetingId})
    </insert>

    <delete id="deleteMeetingPhoto" parameterType="_int">
        DELETE FROM TBL_MEETING_PHOTO
        WHERE MEETING_ID = #{meetingId}

    </delete>

    <delete id="deleteMeetingPhoto" parameterType="_map">
        DELETE FROM TBL_MEETING_PHOTO
        WHERE MEETING_ID = #{meetingId}
        AND PHOTO_ID = #{photoId}
    </delete>
</mapper>