<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--내가 만든 Mapper이름과 동일하게 지정-->
<mapper namespace="com.i7.eatit.domain.user.dao.UserMapper">

    <!-- <resultMap id="아이디명" type="대상 DTO" > -->
    <resultMap id="UserMap" type="com.i7.eatit.domain.user.dto.UserSignupDTO">

        <id property="userCode" column="member_id"/>

        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>

        <result property="phoneNumber" column="phone_number"/>
        <result property="nickname" column="nickname"/>
        <result property="loginMethod" column="loginMethod"/>

        <result property="date" column="date"/>
        <result property="withdrawalStatus" column="withdrawalStatus"/>

    </resultMap>

    <resultMap id="userLoginMap" type="com.i7.eatit.domain.user.dto.UserLoginDTO">

        <id property="userCode" column="member_id"/>

        <result property="email" column="email"/>
        <result property="password" column="password"/>

    </resultMap>

    <insert id="userInsert" parameterType="com.i7.eatit.domain.user.dto.UserSignupDTO">
        insert into
        tbl_member
        (
        name
        , email
        , password
        , phoneNumber
        , nickname
        , loginMethod
        , withdrawalStatus
        , date
        )
        values
        (
        #{ name }
        , #{ email }
        , #{ password }
        , #{ phone_number }
        , #{ nickname }
        , #{ login_method }
        , #{ created_date }
        , #{ withdrawal_status }
        )
    </insert>

    <select id="userLoginMap" resultMap="UserMap">
        select
                email
                , password
        from
                tbl_member
    </select>
</mapper>