.516_9634 {
	overflow: hidden;
}

.e516_9634 {
	width: 1920px;
	height: 1380px;
	position: absolute;
}

.e428_12501 {
	width: 1920px;
	height: 300px;
	position: absolute;
	left: 0px;
	top: 1080px;
}

.ei428_12501_103_7519 {
	background-color: rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width: 1920px;
	height: 300px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.ei428_12501_103_7520 {
	color: rgba(0, 0, 0, 1);
	width: 83px;
	height: 21px;
	position: absolute;
	left: 160px;
	top: 31px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12501_103_7521 {
	color: rgba(0, 0, 0, 1);
	width: 67px;
	height: 21px;
	position: absolute;
	left: 608px;
	top: 31px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12501_103_7522 {
	color: rgba(0, 0, 0, 1);
	width: 50px;
	height: 21px;
	position: absolute;
	left: 1023px;
	top: 94px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12501_103_7523 {
	color: rgba(0, 0, 0, 1);
	width: 50px;
	height: 21px;
	position: absolute;
	left: 919px;
	top: 94px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12501_103_7524 {
	color: rgba(0, 0, 0, 1);
	width: 50px;
	height: 21px;
	position: absolute;
	left: 818px;
	top: 94px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12501_103_7525 {
	color: rgba(0, 0, 0, 1);
	width: 50px;
	height: 21px;
	position: absolute;
	left: 719px;
	top: 94px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12501_103_7526 {
	color: rgba(0, 0, 0, 1);
	width: 50px;
	height: 21px;
	position: absolute;
	left: 625px;
	top: 94px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12501_103_7527 {
	color: rgba(0, 0, 0, 1);
	width: 49px;
	height: 21px;
	position: absolute;
	left: 1729px;
	top: 31px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12501_103_7528 {
	color: rgba(0, 0, 0, 1);
	width: 83px;
	height: 21px;
	position: absolute;
	left: 400px;
	top: 31px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12501_103_7529 {
	width: 614px;
	height: 141px;
	position: absolute;
	left: 551px;
	top: 132px;
	background-image: url(images/image_162.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e428_11732 {
	background-color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 1080px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e428_11734 {
	color: rgba(0, 0, 0, 1);
	width: 250px;
	height: 36px;
	position: absolute;
	left: 835px;
	top: 231px;
	font-family: Inter;
	text-align: center;
	font-size: 30px;
	letter-spacing: 0;
}

.e428_11735 {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
	background-color: rgba(255, 255, 255, 1);
	width: 420px;
	height: 50px;
	position: absolute;
	left: 750px;
	top: 332px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.428_11735 {
	border: 1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}

.e428_11736 {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
	background-color: rgba(255, 255, 255, 1);
	width: 420px;
	height: 50px;
	position: absolute;
	left: 750px;
	top: 404px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.428_11736 {
	border: 1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}

.e428_11738 {
	color: rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width: 165px;
	height: 18px;
	position: absolute;
	left: 789px;
	top: 348px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
}

.e428_11739 {
	color: rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width: 214px;
	height: 18px;
	position: absolute;
	left: 797px;
	top: 421px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
}

.e428_11740 {
	width: 420px;
	height: 48px;
	position: absolute;
	left: 750px;
	top: 523px;
}

.e428_11741 {
	background-color: rgba(255, 0, 0, 1);
	width: 420px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.428_11741 {
	border: 2px solid rgba(255, 0, 0, 1);
}

.e428_11742 {
	color: rgba(255, 255, 255, 1);
	width: 86px;
	height: 19px;
	position: absolute;
	left: 194px;
	top: 15px;
	font-family: Inter;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e428_11754 {
	width: 140.08181762695312px;
	height: 151px;
	position: absolute;
	left: 890px;
	top: 0px;
	border-radius: 9999px;
	background-image: url(images/image_147.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e428_11757 {
	color: rgba(0, 0, 0, 1);
	width: 85px;
	height: 19px;
	position: absolute;
	left: 635px;
	top: 348px;
	font-family: Inter;
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
}

.e428_11758 {
	color: rgba(0, 0, 0, 1);
	width: 115px;
	height: 19px;
	position: absolute;
	left: 623px;
	top: 420px;
	font-family: Inter;
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
}