<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="pwdstyles.css">

  <style>
    /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
    body {
      background: #E5E5E5;
    }
  </style>

</head>

<body>
  <div class=e516_9635>
    <div class=e428_12513>
      <div class="ei428_12513_103_7519"></div><span class="ei428_12513_103_7520">고객서비스</span><span
        class="ei428_12513_103_7521">팀원소개</span><span class="ei428_12513_103_7522">홍관섭</span><span
        class="ei428_12513_103_7523">정현민</span><span class="ei428_12513_103_7524">김혜진</span><span
        class="ei428_12513_103_7525">김재협</span><span class="ei428_12513_103_7526">김도현</span><span
        class="ei428_12513_103_7527">github </span><span class="ei428_12513_103_7528">소셜미디어</span>
      <div class="ei428_12513_103_7529"></div>
    </div>
    <div class=e428_11766><span class="e428_11767">비밀번호 찾기</span>
      <div class="e428_11773"></div><span class="e428_11774">확인</span>
      <div class="e428_11799"></div><span class="e428_11800">이메일을 입력하세요.</span><span class="e428_12488">이름을
        입력해주세요.</span><span class="e428_11801">이메일</span>
      <div class="e428_11775"></div><span class="e428_12474">전화 번호</span><span class="e428_12475">전화번호를
        입력하세요.</span><span class="e428_12476">이름을 입력하세요.</span>
      <div class="e428_12477"></div><span class="e428_12478">이름</span>
      <div class="e428_12479"></div><span class="e428_12487">이름을 입력해주세요.</span><span class="e428_12489">전화 번호를
        입력해주세요.</span>
    </div>
  </div>
</body>

</html>