<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/Join.css">

</head>
<form action="doJoin" method="POST" class="joinForm" onsubmit="DoJoinForm__submit(this); return false;">

    <body>
    <div class="wrap">
        <div class="login">
            <div class="login_logo">
                <img src="images\image_146.png" width="150" height="150">


                <h1>회원가입</h1>
            </div>

            <div class="textForm">
                <input name="loginId" type="text" class="id" placeholder="이메일">
            </div>

            <div class="textForm">
                <input name="loginPw" type="password" class="pw" placeholder="비밀번호">
            </div>

            <div class="textForm">
                <input name="loginPwConfirm" type="password" class="pw" placeholder="비밀번호 확인">
            </div>

            <div class="textForm">
                <input name="name" type="password" class="name" placeholder="이름">
            </div>

            <div class="form-item">
                <label class="profile-label">
                    <p style="color:#707070">내 기술 스택</p>
                </label>

                <ul class="list-no-pad chip-btn-list">

                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <input id="intereset-1" class="interest-check" type="checkbox" value="frontend">
                        <label class="btn-choice-mid interest-label" for="intereset-1">프론트엔드</label>
                    </li>

                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <div>
                            <input id="intereset-2" class="interest-check" type="checkbox" value="backend">
                            <label class="btn-choice-mid interest-label" for="intereset-2">백엔드</label>
                        </div>
                    </li>

                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <div>
                            <input id="intereset-3" class="interest-check" type="checkbox"
                                   value="project-managment">
                            <label class="btn-choice-mid interest-label" for="intereset-3">기획</label>
                        </div>
                    </li>

                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <div>
                            <input id="intereset-7" class="interest-check" type="checkbox" value="game-client">
                            <label class="btn-choice-mid interest-label" for="intereset-7">보안</label>
                        </div>
                    </li>

                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <div>
                            <input id="intereset-5" class="interest-check" type="checkbox" value="game-client">
                            <label class="btn-choice-mid interest-label" for="intereset-5">게임 클라이언트</label>
                        </div>
                    </li>

                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <div>
                            <input id="intereset-6" class="interest-check" type="checkbox" value="game-client">
                            <label class="btn-choice-mid interest-label" for="intereset-6">임베디드</label>
                        </div>
                    </li>

                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <div>
                            <input id="intereset-4" class="interest-check" type="checkbox" value="game-client">
                            <label class="btn-choice-mid interest-label" for="intereset-4">모바일</label>
                        </div>
                    </li>

                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <div>
                            <input id="intereset-8" class="interest-check" type="checkbox" value="game-client">
                            <label class="btn-choice-mid interest-label" for="intereset-8">데이터 엔지니어링</label>
                        </div>
                    </li>

                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <div>
                            <input id="intereset-9" class="interest-check" type="checkbox" value="game-client">
                            <label class="btn-choice-mid interest-label" for="intereset-9">게임 서버</label>
                        </div>
                    </li>

                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <div>
                            <input id="intereset-10" class="interest-check" type="checkbox" value="game-client">
                            <label class="btn-choice-mid interest-label" for="intereset-10">UI/UX</label>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="textForm">
                <input name="nickname" type="text" class="nickname" placeholder="닉네임">
            </div>

            <div class="textForm">
                <input name="cellphoneNo" type="text" class="cellphoneNo" placeholder="전화번호">
            </div>

            <div class="buttom">
                <input type="button" class="btn" value="로그인"/>
            </div>


        </div>
    </div>

    </body>
</form>