<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="joinstyles.css">

  <style>
    /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
    body {
      background: #E5E5E5;
    }
  </style>

</head>

<body>
  <div class=e519_9804>
    <div class=e101_3753>
      <div class="e318_10596"></div>
      <div class="e318_10597"></div><span class="e318_10598">회원가입</span>
      <div class=e318_10601>
        <div class="e318_10602"></div><span class="e318_10603">중복확인</span>
      </div>
      <div class=e519_9739>
        <div class="e519_9740"></div><span class="e519_9741">직접입력</span>
      </div>
      <div class=e519_9781>
        <div class="e519_9782"></div><span class="e519_9783">직접입력</span>
      </div>
      <div class=e519_9787>
        <div class="e519_9788"></div><span class="e519_9789">비밀번호를 입력해주세요.</span>
      </div>
      <div class=e519_9794>
        <div class="e519_9795"></div><span class="e519_9796">이름을 입력해주세요.</span>
      </div>
      <div class=e519_9797>
        <div class="e519_9798"></div><span class="e519_9799">닉네임을 입력해주세요.</span>
      </div>
      <div class=e519_9800>
        <div class="e519_9801"></div><span class="e519_9802">전화번호를 입력해주세요.</span>
      </div>
      <div class=e519_9791>
        <div class="e519_9792"></div><span class="e519_9793">비밀번호를 다시 입력해주세요.</span>
      </div>
      <div class=e519_9784>
        <div class="e519_9785"></div><span class="e519_9786">직접입력</span>
      </div>
      <div class=e318_10605><span class="e318_10606">인증확인</span></div><span class="e318_10607">@</span><span
        class="e318_10621">이메일</span><span class="e519_9776">이름</span><span class="e519_9780">닉네임</span><span
        class="e519_9777">비밀번호 확인</span><span class="e519_9778">비밀번호</span>
      <div class=e318_10635>
        <div class=e318_10636><span class="e318_10637">게임 클라이언트</span></div>
        <div class=e318_10638><span class="e318_10639">블록체인</span></div>
        <div class=e318_10640><span class="e318_10641">클라우드</span></div>
        <div class=e318_10642><span class="e318_10643">UI/UX</span></div>
      </div>
      <div class=e318_10645>
        <div class=e318_10646><span class="e318_10647">프론트엔드</span></div>
        <div class=e318_10648><span class="e318_10649">백엔드</span></div>
        <div class=e318_10650><span class="e318_10651">기획</span></div>
        <div class=e318_10652><span class="e318_10653">게임 클라이언트</span></div>
        <div class=e318_10654><span class="e318_10655">인공지능</span></div>
        <div class=e318_10656>
          <div class="e318_10657"></div>
        </div>
      </div><span class="e318_10662">내 기술 스택</span><span class="e519_9803">휴대폰 번호</span>
      <div class=e318_10679>
        <div class=e318_10680><span class="e318_10681">데이터 엔지니어링</span></div>
        <div class=e318_10682><span class="e318_10683">기획</span></div>
        <div class=e318_10684><span class="e318_10685">게임 서버</span></div>
        <div class=e318_10686><span class="e318_10687">정보보안</span></div>
        <div class=e318_10688><span class="e318_10689">모바일</span></div>
      </div>
      <div class=e519_9742>
        <div class=e519_9743><span class="e519_9744">게임 클라이언트</span></div>
        <div class=e519_9745><span class="e519_9746">블록체인</span></div>
        <div class=e519_9747><span class="e519_9748">클라우드</span></div>
        <div class=e519_9749><span class="e519_9750">UI/UX</span></div>
      </div>
      <div class=e519_9751>
        <div class=e519_9752><span class="e519_9753">프론트엔드</span></div>
        <div class=e519_9754><span class="e519_9755">백엔드</span></div>
        <div class=e519_9756><span class="e519_9757">기획</span></div>
        <div class=e519_9758><span class="e519_9759">게임 클라이언트</span></div>
        <div class=e519_9760><span class="e519_9761">인공지능</span></div>
        <div class=e519_9762>
          <div class="e519_9763"></div>
        </div>
      </div><span class="e519_9764">관심 분야</span>
      <div class=e519_9765>
        <div class=e519_9766><span class="e519_9767">데이터 엔지니어링</span></div>
        <div class=e519_9768><span class="e519_9769">기획</span></div>
        <div class=e519_9770><span class="e519_9771">게임 서버</span></div>
        <div class=e519_9772><span class="e519_9773">정보보안</span></div>
        <div class=e519_9774><span class="e519_9775">모바일</span></div>
      </div>
      <div class=e519_9806>
        <div class=e318_10690>
          <div class="ei318_10690_4_2458"></div>
        </div><span class="e519_9805">회원가입</span>
      </div>
    </div>
    <div class=e318_10845>
      <div class="ei318_10845_103_7519"></div><span class="ei318_10845_103_7520">고객서비스</span><span
        class="ei318_10845_103_7521">팀원소개</span><span class="ei318_10845_103_7522">홍관섭</span><span
        class="ei318_10845_103_7523">정현민</span><span class="ei318_10845_103_7524">김혜진</span><span
        class="ei318_10845_103_7525">김재협</span><span class="ei318_10845_103_7526">김도현</span><span
        class="ei318_10845_103_7527">github </span><span class="ei318_10845_103_7528">소셜미디어</span>
      <div class="ei318_10845_103_7529"></div>
    </div>
  </div>
</body>

</html>