.519_9804 { 
	overflow:hidden;
}.e519_9804 { 
	width:1920px;
	height:2177px;
	position:absolute;
}.e101_3753 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1877px;
	position:absolute;
	left:0px;
	top:0px;
}.e318_10596 { 
	width:140.08181762695312px;
	height:151px;
	position:absolute;
	left:890px;
	top:0px;
	border-radius:9999px;
	background-image:url(images/image_146.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e318_10597 { 
	background-color:rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width:15px;
	height:12.990381240844727px;
	position:absolute;
	left:1190px;
	top:368px;
	border-radius:2px;
}.e318_10598 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:36px;
	position:absolute;
	left:851px;
	top:232px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e318_10601 { 
	width:106px;
	height:40px;
	position:absolute;
	left:1238px;
	top:354px;
}.e318_10602 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
	background-color:rgba(255, 0, 0, 1);
	width:106px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.318_10602 { 
	border:1px solid rgba(255, 0, 0, 1);
}.e318_10603 { 
	color:rgba(255, 255, 255, 1);
	width:81px;
	height:18px;
	position:absolute;
	left:12px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e519_9739 { 
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.20000000298023224);
	width:168px;
	height:50px;
	position:absolute;
	left:1052px;
	top:422px;
}.e519_9740 { 
	background-color:rgba(255, 255, 255, 1);
	width:168px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.519_9740 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e519_9741 { 
	color:rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width:88.58181762695312px;
	height:18px;
	position:absolute;
	left:39.70909118652344px;
	top:16px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e519_9781 { 
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.20000000298023224);
	width:168px;
	height:50px;
	position:absolute;
	left:1052px;
	top:350px;
}.e519_9782 { 
	background-color:rgba(255, 255, 255, 1);
	width:168px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.519_9782 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e519_9783 { 
	color:rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width:88.58181762695312px;
	height:18px;
	position:absolute;
	left:39.70909118652344px;
	top:16px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e519_9787 { 
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.20000000298023224);
	width:445px;
	height:50px;
	position:absolute;
	left:775px;
	top:499px;
}.e519_9788 { 
	background-color:rgba(255, 255, 255, 1);
	width:445px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.519_9788 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e519_9789 { 
	color:rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width:234.6363525390625px;
	height:18px;
	position:absolute;
	left:105.18181610107422px;
	top:16px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e519_9794 { 
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.20000000298023224);
	width:445px;
	height:50px;
	position:absolute;
	left:776px;
	top:643px;
}.e519_9795 { 
	background-color:rgba(255, 255, 255, 1);
	width:445px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.519_9795 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e519_9796 { 
	color:rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width:234.6363525390625px;
	height:18px;
	position:absolute;
	left:105.18181610107422px;
	top:16px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e519_9797 { 
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.20000000298023224);
	width:445px;
	height:50px;
	position:absolute;
	left:775px;
	top:716px;
}.e519_9798 { 
	background-color:rgba(255, 255, 255, 1);
	width:445px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.519_9798 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e519_9799 { 
	color:rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width:234.6363525390625px;
	height:18px;
	position:absolute;
	left:105.18181610107422px;
	top:16px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e519_9800 { 
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.20000000298023224);
	width:445px;
	height:50px;
	position:absolute;
	left:775px;
	top:1190px;
}.e519_9801 { 
	background-color:rgba(255, 255, 255, 1);
	width:445px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.519_9801 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e519_9802 { 
	color:rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width:234.6363525390625px;
	height:18px;
	position:absolute;
	left:105.18181610107422px;
	top:16px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e519_9791 { 
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.20000000298023224);
	width:445px;
	height:50px;
	position:absolute;
	left:775px;
	top:574px;
}.e519_9792 { 
	background-color:rgba(255, 255, 255, 1);
	width:445px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.519_9792 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e519_9793 { 
	color:rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width:234.6363525390625px;
	height:18px;
	position:absolute;
	left:105.18181610107422px;
	top:16px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e519_9784 { 
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.20000000298023224);
	width:220px;
	height:50px;
	position:absolute;
	left:774px;
	top:354px;
}.e519_9785 { 
	background-color:rgba(255, 255, 255, 1);
	width:220px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.519_9785 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e519_9786 { 
	color:rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width:116px;
	height:18px;
	position:absolute;
	left:52px;
	top:16px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e318_10605 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:106px;
	height:40px;
	position:absolute;
	left:1238px;
	top:424px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.318_10605 { 
	border:1px solid rgba(255, 0, 0, 1);
}.e318_10606 { 
	color:rgba(255, 0, 0, 1);
	width:81px;
	height:18px;
	position:absolute;
	left:12.5px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e318_10607 { 
	color:rgba(0, 0, 0, 1);
	width:15px;
	height:18px;
	position:absolute;
	left:1015px;
	top:366px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e318_10621 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:19px;
	position:absolute;
	left:576px;
	top:370px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9776 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:19px;
	position:absolute;
	left:576px;
	top:659px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9780 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:19px;
	position:absolute;
	left:576px;
	top:731px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9777 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:19px;
	position:absolute;
	left:576px;
	top:590px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9778 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:19px;
	position:absolute;
	left:576px;
	top:509px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10635 { 
	width:388px;
	height:33px;
	position:absolute;
	left:745px;
	top:1122px;
}.e318_10636 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:185px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e318_10637 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:153px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10638 { 
	background-color:rgba(255, 0, 0, 1);
	width:121px;
	height:35px;
	position:absolute;
	left:197px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.318_10638 { 
	border:1px solid rgba(255, 0, 0, 1);
}.e318_10639 { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10640 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:139px;
	height:35px;
	position:absolute;
	left:330px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e318_10641 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:107px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10642 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:118px;
	height:35px;
	position:absolute;
	left:481px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e318_10643 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:86px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10645 { 
	width:509px;
	height:33px;
	position:absolute;
	left:745px;
	top:1010px;
}.e318_10646 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:164px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e318_10647 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:132px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10648 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:125px;
	height:35px;
	position:absolute;
	left:176px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.318_10648 { 
	border:1px solid rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
}.e318_10649 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:93px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10650 { 
	background-color:rgba(255, 0, 0, 1);
	width:95px;
	height:35px;
	position:absolute;
	left:313px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e318_10651 { 
	color:rgba(255, 255, 255, 1);
	width:63px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10652 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:184px;
	height:35px;
	position:absolute;
	left:420px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e318_10653 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:152px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10654 { 
	background-color:rgba(255, 0, 0, 1);
	width:129px;
	height:35px;
	position:absolute;
	left:616px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.318_10654 { 
	border:1px solid rgba(255, 0, 0, 1);
}.e318_10655 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10656 { 
	width:35px;
	height:35px;
	position:absolute;
	left:757px;
	top:0px;
}.e318_10657 { 
	background-color:rgba(95.00000193715096, 99.00000169873238, 104.00000140070915, 1);
	width:26px;
	height:16px;
	position:absolute;
	left:5px;
	top:10px;
}.e318_10662 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:25px;
	position:absolute;
	left:576px;
	top:1018px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9803 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:25px;
	position:absolute;
	left:576px;
	top:1203px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10679 { 
	width:471px;
	height:33px;
	position:absolute;
	left:745px;
	top:1068px;
}.e318_10680 { 
	background-color:rgba(255, 0, 0, 1);
	width:193px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e318_10681 { 
	color:rgba(255, 255, 255, 1);
	width:161px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10682 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:97px;
	height:35px;
	position:absolute;
	left:205px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e318_10683 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:65px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10684 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:129px;
	height:35px;
	position:absolute;
	left:314px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e318_10685 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:97px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10686 { 
	background-color:rgba(255, 0, 0, 1);
	width:116px;
	height:35px;
	position:absolute;
	left:455px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e318_10687 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10688 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:110px;
	height:35px;
	position:absolute;
	left:583px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e318_10689 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:78px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9742 { 
	width:388px;
	height:33px;
	position:absolute;
	left:745px;
	top:931px;
}.e519_9743 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:185px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e519_9744 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:153px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9745 { 
	background-color:rgba(255, 0, 0, 1);
	width:121px;
	height:35px;
	position:absolute;
	left:197px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.519_9745 { 
	border:1px solid rgba(255, 0, 0, 1);
}.e519_9746 { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9747 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:139px;
	height:35px;
	position:absolute;
	left:330px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e519_9748 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:107px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9749 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:118px;
	height:35px;
	position:absolute;
	left:481px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e519_9750 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:86px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9751 { 
	width:509px;
	height:33px;
	position:absolute;
	left:745px;
	top:819px;
}.e519_9752 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:164px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e519_9753 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:132px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9754 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:125px;
	height:35px;
	position:absolute;
	left:176px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.519_9754 { 
	border:1px solid rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
}.e519_9755 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:93px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9756 { 
	background-color:rgba(255, 0, 0, 1);
	width:95px;
	height:35px;
	position:absolute;
	left:313px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e519_9757 { 
	color:rgba(255, 255, 255, 1);
	width:63px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9758 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:184px;
	height:35px;
	position:absolute;
	left:420px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e519_9759 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:152px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9760 { 
	background-color:rgba(255, 0, 0, 1);
	width:129px;
	height:35px;
	position:absolute;
	left:616px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.519_9760 { 
	border:1px solid rgba(255, 0, 0, 1);
}.e519_9761 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9762 { 
	width:35px;
	height:35px;
	position:absolute;
	left:757px;
	top:0px;
}.e519_9763 { 
	background-color:rgba(95.00000193715096, 99.00000169873238, 104.00000140070915, 1);
	width:26px;
	height:16px;
	position:absolute;
	left:5px;
	top:10px;
}.e519_9764 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:25px;
	position:absolute;
	left:576px;
	top:824px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9765 { 
	width:471px;
	height:33px;
	position:absolute;
	left:745px;
	top:877px;
}.e519_9766 { 
	background-color:rgba(255, 0, 0, 1);
	width:193px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e519_9767 { 
	color:rgba(255, 255, 255, 1);
	width:161px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9768 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:97px;
	height:35px;
	position:absolute;
	left:205px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e519_9769 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:65px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9770 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:129px;
	height:35px;
	position:absolute;
	left:314px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e519_9771 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:97px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9772 { 
	background-color:rgba(255, 0, 0, 1);
	width:116px;
	height:35px;
	position:absolute;
	left:455px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e519_9773 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9774 { 
	background-color:rgba(236.49921834468842, 236.49921834468842, 236.49921834468842, 1);
	width:110px;
	height:35px;
	position:absolute;
	left:583px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}.e519_9775 { 
	color:rgba(111.5492083132267, 111.5492083132267, 111.5492083132267, 1);
	width:78px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e519_9806 { 
	width:442px;
	height:48px;
	position:absolute;
	left:739px;
	top:1334px;
}.e318_10690 { 
	width:442px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.ei318_10690_4_2458 { 
	background-color:rgba(255, 0, 0, 1);
	width:442px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.i318_10690_4_2458 { 
	border:2px solid rgba(255, 0, 0, 1);
}.e519_9805 { 
	color:rgba(255, 255, 255, 1);
	width:104px;
	height:19px;
	position:absolute;
	left:169px;
	top:15px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e318_10845 { 
	width:1920px;
	height:300px;
	position:absolute;
	left:0px;
	top:1877px;
}.ei318_10845_103_7519 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1920px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}.ei318_10845_103_7520 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:21px;
	position:absolute;
	left:160px;
	top:31px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei318_10845_103_7521 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:21px;
	position:absolute;
	left:608px;
	top:31px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei318_10845_103_7522 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:1023px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei318_10845_103_7523 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:919px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei318_10845_103_7524 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:818px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei318_10845_103_7525 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:719px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei318_10845_103_7526 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:625px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei318_10845_103_7527 { 
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:21px;
	position:absolute;
	left:1729px;
	top:31px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei318_10845_103_7528 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:21px;
	position:absolute;
	left:400px;
	top:31px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei318_10845_103_7529 { 
	width:614px;
	height:141px;
	position:absolute;
	left:551px;
	top:132px;
	background-image:url(images/image_162.png);
	background-repeat:no-repeat;
	background-size:cover;
}