<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles.css">

  <style>
    /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
    body {
      background: #E5E5E5;
    }
  </style>

</head>

<body>
  <div class=e430_14276>
    <div class=e415_9389>
      <div class=e415_9356><span class="e415_9357">로그인</span>
        <div class="e415_9358"></div>
        <div class="e415_9359"></div><span class="e415_9360"><a href="FindEmailPage.html">이메일</a>|<a
          href="FindPwdPage.html">비밀번호 찾기</a></span><span class="e415_9361">이메일을
          입력하세요.</span><span class="e415_9362">비밀번호를 입력하세요.</span>
        <div class=e415_9363>
          <div class="e415_9364"></div><span class="e415_9365"><a href="www.naver.com">로그인</a></span>
        </div>
        <div class=e415_9368>
          <div class=e415_9369>
            <div class="e415_9370"></div>
            <div class="e415_9371"></div><span class="e415_9372"><a href="JoinPage.html">간편 로그인/회원가입</a</span>
          </div>
        </div>
      </div>
      <div class="e415_9393"></div>
      <div class="e430_14275"></div>
    </div>
    <div class="e415_9382"></div>
    <div class="e415_9387"></div>
  </div>
</body>

</html>