.516_9635 {
	overflow: hidden;
}

.e516_9635 {
	width: 1920px;
	height: 1380px;
	position: absolute;
}

.e428_12513 {
	width: 1920px;
	height: 300px;
	position: absolute;
	left: 0px;
	top: 1080px;
}

.ei428_12513_103_7519 {
	background-color: rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width: 1920px;
	height: 300px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.ei428_12513_103_7520 {
	color: rgba(0, 0, 0, 1);
	width: 83px;
	height: 21px;
	position: absolute;
	left: 160px;
	top: 31px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12513_103_7521 {
	color: rgba(0, 0, 0, 1);
	width: 67px;
	height: 21px;
	position: absolute;
	left: 608px;
	top: 31px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12513_103_7522 {
	color: rgba(0, 0, 0, 1);
	width: 50px;
	height: 21px;
	position: absolute;
	left: 1023px;
	top: 94px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12513_103_7523 {
	color: rgba(0, 0, 0, 1);
	width: 50px;
	height: 21px;
	position: absolute;
	left: 919px;
	top: 94px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12513_103_7524 {
	color: rgba(0, 0, 0, 1);
	width: 50px;
	height: 21px;
	position: absolute;
	left: 818px;
	top: 94px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12513_103_7525 {
	color: rgba(0, 0, 0, 1);
	width: 50px;
	height: 21px;
	position: absolute;
	left: 719px;
	top: 94px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12513_103_7526 {
	color: rgba(0, 0, 0, 1);
	width: 50px;
	height: 21px;
	position: absolute;
	left: 625px;
	top: 94px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12513_103_7527 {
	color: rgba(0, 0, 0, 1);
	width: 49px;
	height: 21px;
	position: absolute;
	left: 1729px;
	top: 31px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12513_103_7528 {
	color: rgba(0, 0, 0, 1);
	width: 83px;
	height: 21px;
	position: absolute;
	left: 400px;
	top: 31px;
	font-family: Abhaya Libre;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.ei428_12513_103_7529 {
	width: 614px;
	height: 141px;
	position: absolute;
	left: 551px;
	top: 132px;
	background-image: url(images/image_162.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e428_11766 {
	background-color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 1080px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e428_11767 {
	color: rgba(0, 0, 0, 1);
	width: 313px;
	height: 36px;
	position: absolute;
	left: 804px;
	top: 206px;
	font-family: Inter;
	text-align: center;
	font-size: 30px;
	letter-spacing: 0;
}

.e428_11773 {
	background-color: rgba(255, 0, 0, 1);
	width: 420px;
	height: 48px;
	position: absolute;
	left: 750px;
	top: 698px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.428_11773 {
	border: 2px solid rgba(255, 0, 0, 1);
}

.e428_11774 {
	color: rgba(255, 255, 255, 1);
	width: 72px;
	height: 19px;
	position: absolute;
	left: 924px;
	top: 713px;
	font-family: Inter;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e428_11799 {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
	background-color: rgba(255, 255, 255, 1);
	width: 420px;
	height: 50px;
	position: absolute;
	left: 750px;
	top: 414px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.428_11799 {
	border: 1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}

.e428_11800 {
	color: rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width: 214px;
	height: 18px;
	position: absolute;
	left: 761px;
	top: 430px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
}

.e428_12488 {
	color: rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width: 133px;
	height: 18px;
	position: absolute;
	left: 754px;
	top: 577px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
}

.e428_11801 {
	color: rgba(0, 0, 0, 1);
	width: 76px;
	height: 19px;
	position: absolute;
	left: 651px;
	top: 430px;
	font-family: Inter;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e428_11775 {
	width: 140.08181762695312px;
	height: 151px;
	position: absolute;
	left: 890px;
	top: 0px;
	border-radius: 9999px;
	background-image: url(images/image_147.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e428_11826 {
	width: 494px;
	height: 1px;
	position: absolute;
	left: -273px;
	top: 473px;
}

.e428_12474 {
	color: rgba(0, 0, 0, 1);
	width: 100px;
	height: 19px;
	position: absolute;
	left: 635px;
	top: 577px;
	font-family: Inter;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e428_12475 {
	color: rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width: 147px;
	height: 18px;
	position: absolute;
	left: 761px;
	top: 577px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
}

.e428_12476 {
	color: rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width: 119px;
	height: 18px;
	position: absolute;
	left: 761px;
	top: 505px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
}

.e428_12477 {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
	background-color: rgba(255, 255, 255, 1);
	width: 420px;
	height: 50px;
	position: absolute;
	left: 750px;
	top: 561px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.428_12477 {
	border: 1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}

.e428_12478 {
	color: rgba(0, 0, 0, 1);
	width: 82px;
	height: 19px;
	position: absolute;
	left: 635px;
	top: 505px;
	font-family: Inter;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e428_12479 {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
	background-color: rgba(255, 255, 255, 1);
	width: 420px;
	height: 50px;
	position: absolute;
	left: 750px;
	top: 489px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.428_12479 {
	border: 1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}

.e428_12487 {
	color: rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width: 230px;
	height: 18px;
	position: absolute;
	left: 735px;
	top: 510px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
}

.e428_12489 {
	color: rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width: 246px;
	height: 18px;
	position: absolute;
	left: 735px;
	top: 582px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
}