.430_14276 { 
	overflow:hidden;
}.e430_14276 { 
	width:1920px;
	height:1380px;
	position:absolute;
}.e415_9389 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e415_9356 { 
	width:599px;
	height:487px;
	position:absolute;
	left:677px;
	top:227px;
}.e415_9357 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:36px;
	position:absolute;
	left:201px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e415_9358 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
	background-color:rgba(255, 255, 255, 1);
	width:420px;
	height:50px;
	position:absolute;
	left:73px;
	top:105px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.415_9358 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e415_9359 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
	background-color:rgba(255, 255, 255, 1);
	width:420px;
	height:50px;
	position:absolute;
	left:73px;
	top:177px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.415_9359 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e415_9360 { 
	color:rgba(0, 0, 0, 1);
	width:188px;
	height:16px;
	position:absolute;
	left:189px;
	top:244px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}.e415_9361 { 
	color:rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width:221px;
	height:18px;
	position:absolute;
	left:173px;
	top:121px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e415_9362 { 
	color:rgba(140.43303161859512, 140.43303161859512, 140.43303161859512, 1);
	width:323px;
	height:18px;
	position:absolute;
	left:122px;
	top:193px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e415_9363 { 
	width:420px;
	height:118px;
	position:absolute;
	left:73px;
	top:296px;
}.e415_9364 { 
	background-color:rgba(255, 0, 0, 1);
	width:420px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.415_9364 { 
	border:2px solid rgba(255, 0, 0, 1);
}.e415_9365 { 
	color:rgba(255, 255, 255, 1);
	width:94px;
	height:19px;
	position:absolute;
	left:163px;
	top:15px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e415_9366 { 
	background-color:rgba(255, 255, 255, 1);
	width:420px;
	height:48px;
	position:absolute;
	left:0px;
	top:70px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.415_9366 { 
	border:2px solid rgba(255, 0, 0, 1);
}.e415_9367 { 
	color:rgba(255, 0, 0, 1);
	width:115px;
	height:19px;
	position:absolute;
	left:153px;
	top:85px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e415_9368 { 
	width:599px;
	height:19px;
	position:absolute;
	left:0px;
	top:468px;
}.e415_9369 { 
	width:599px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}.415_9370 { 
	border:1px solid rgba(118.9917017519474, 111.39590933918953, 111.39590933918953, 1);
}.e415_9370 { 
	width:186.35556030273438px;
	height:0px;
	position:absolute;
	left:412.6444396972656px;
	top:10px;
}.e415_9371 { 
	transform: rotate(0.000005008956130975318deg);
	width:186.35556030273438px;
	height:0px;
	position:absolute;
	left:0px;
	top:9px;
}.415_9371 { 
	border:1px solid rgba(118.9917017519474, 111.39590933918953, 111.39590933918953, 1);
}.e415_9372 { 
	color:rgba(64.00000378489494, 30.00000011175871, 32.00000189244747, 1);
	width:190.34889221191406px;
	height:19px;
	position:absolute;
	left:203.66000366210938px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e415_9393 { 
	width:140.08181762695312px;
	height:151px;
	position:absolute;
	left:890px;
	top:0px;
	border-radius:9999px;
	background-image:url(images/image_147.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e430_14275 { 
	width:57px;
	height:57px;
	position:absolute;
	left:932px;
	top:741px;
	border-top-left-radius:150px;
	border-top-right-radius:150px;
	border-bottom-left-radius:150px;
	border-bottom-right-radius:150px;
	background-image:url(images/image_171.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e415_9382 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1920px;
	height:300px;
	position:absolute;
	left:0px;
	top:1080px;
}.e415_9387 { 
	width:509px;
	height:141px;
	position:absolute;
	left:706px;
	top:1160px;
	background-image:url(images/image_161.png);
	background-repeat:no-repeat;
	background-size:cover;
}