<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--내가 만든 Mapper이름과 동일하게 지정-->
<mapper namespace="com.i7.eatit.admin.mapper.AdminMapper">
  <resultMap id="AdminResultMap" type="com.i7.eatit.admin.dto.AdminDto">
    <result property="adminId" column="admin_id"/>
    <result property="email" column="email"/>
    <result property="password" column="password"/>
    <result property="createdDate" column="created_date"/>
  </resultMap>

  <select id="findByEmail" resultMap="AdminResultMap">
    SELECT *
    FROM tbl_admin A
    WHERE A.email = #{email}
  </select>

</mapper>