<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--내가 만든 Mapper 이름과 동일하게 지정-->
<mapper namespace="com.i7.eatit.admin.mapper.AdminMemberMapper">

  <resultMap id="AdminMemberResultMap" type="com.i7.eatit.admin.dto.AdminMemberDto">
    <result property="memberId" column="member_id"/>

    <result property="email" column="email"/>
    <result property="password" column="password"/>
    <result property="name" column="name"/>

    <result property="nickname" column="nickname"/>
    <result property="loginMethod" column="login_method"/>
    <result property="phoneNumber" column="phone_number"/>

    <result property="createdDate" column="created_date"/>
    <result property="withdrawalStatus" column="withdrawal_status"/>
    <result property="reportedCount" column="reported_count"/>
    <result property="gender" column="gender"/>
    <result property="age" column="age"/>
    <result property="isStoppedByAdmin" column="is_stopped_by_admin"/>
  </resultMap>

  <select id="findAllMember" resultMap="AdminMemberResultMap">
    SELECT *
    FROM tbl_member A
    <where>
      <if test="searchEmail != null">
        AND A.email LIKE CONCAT('%', #{searchEmail}, '%')
      </if>
    </where>
    <if test="sort != null">
      ORDER BY
      <choose>
        <when test="sort == 'reportedCount'">reported_count DESC</when>
        <otherwise>member_id</otherwise>
      </choose>
    </if>
  </select>

  <select id="findMemberById" resultMap="AdminMemberResultMap">
    SELECT *
    FROM tbl_member M
    WHERE M.member_id = #{ memberId }
  </select>

  <update id="increaseMemberReport">
    UPDATE tbl_member M
    SET M.reported_count = M.reported_count + 1
    WHERE M.member_id = #{ memberId }
  </update>

  <update id="updateMemberStatus">
    UPDATE tbl_member M
    SET M.is_stopped_by_admin = CASE
    WHEN M.is_stopped_by_admin = 0 THEN 1
    WHEN M.is_stopped_by_admin = 1 THEN 0
    ELSE M.is_stopped_by_admin
    END
    WHERE M.member_id = #{ memberId }
  </update>

  <update id="updateMemberStatusToStop">
    UPDATE tbl_member M
    SET M.is_stopped_by_admin = 1
    WHERE M.member_id = #{ memberId }
  </update>
</mapper>