<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>회원가입</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/join.css" th:href="@{/css/join.css}">
</head>

<body>
<form action="/join/regist" method="post">
    <div class="wrap">
        <div class="login">
            <div class="login_logo">
                <a href="../../templates/login/loginMain.html" th:href="@{/login/loginMain}">
                    <img src="../../static/img/image_146.png" th:src="@{/img/image_146.png}" width="150" height="150">
                </a>
            </div>

            <div>
                <h2>회원가입</h2>
            </div>

            <!--이메일-->
            <div class="textForm">
                <input name="email" type="text" class="id" placeholder="이메일">
            </div>

            <!--비밀번호-->
            <div class="textForm">
                <input name="password" type="password" class="pw" placeholder="비밀번호">
            </div>

            <!--비밀번호 확인-->
            <!-- <div class="textForm">
                 <input name="passwordConfirm" type="password" class="pw" placeholder="비밀번호 확인">
             </div>-->

            <!--이름-->
            <div class="textForm">
                <input name="name" type="text" class="name" placeholder="이름">
            </div>

            <!--기술스택-->
            <!--<div class="form-item">
                <label class="profile-label">
                    <p style="color:#707070">내 기술 스택</p>
                </label>

                <ul class="list-no-pad chip-btn-list">
                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <input id="interest-1" class="interest-check" type="checkbox" value="frontend">
                        <label class="btn-choice-mid interest-label" for="interest-1">프론트엔드</label>
                    </li>
                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <input id="interest-2" class="interest-check" type="checkbox" value="backend">
                        <label class="btn-choice-mid interest-label" for="interest-2">백엔드</label>
                    </li>
                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <input id="interest-3" class="interest-check" type="checkbox" value="project-management">
                        <label class="btn-choice-mid interest-label" for="interest-3">기획</label>
                    </li>

                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <input id="interest-4" name="gameClient" class="interest-check" type="checkbox"
                               value="game-client">
                        <label class="btn-choice-mid interest-label" for="interest-4">게임 클라이언트</label>
                    </li>
                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <input id="interest-5" name="embedded" class="interest-check" type="checkbox" value="embedded">
                        <label class="btn-choice-mid interest-label" for="interest-5">임베디드</label>
                    </li>
                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <input id="interest-6" name="mobile" class="interest-check" type="checkbox" value="mobile">
                        <label class="btn-choice-mid interest-label" for="interest-6">모바일</label>
                    </li>
                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <input id="interest-7" name="dataEngineering" class="interest-check" type="checkbox"
                               value="data-engineering">
                        <label class="btn-choice-mid interest-label" for="interest-7">데이터 엔지니어링</label>
                    </li>
                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <input id="interest-8" name="gameServer" class="interest-check" type="checkbox"
                               value="game-server">
                        <label class="btn-choice-mid interest-label" for="interest-8">게임 서버</label>
                    </li>
                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <input id="interest-9" name="ui_ux" class="interest-check" type="checkbox" value="ui-ux">
                        <label class="btn-choice-mid interest-label" for="interest-9">UI/UX</label>
                    </li>
                    <li style="margin-top:5px; margin-bottom: 10px;">
                        <input id="interest-10" name="security" class="interest-check" type="checkbox" value="security">
                        <label class="btn-choice-mid interest-label" for="interest-10">보안</label>
                    </li>
                </ul>
            </div>-->

            <!--닉네임-->
            <div class="textForm">
                <input name="nickname" type="text" class="nickname" placeholder="닉네임">
            </div>

            <!--전화번호-->
            <div class="textForm">
                <input name="phoneNumber" type="number" class="cellphoneNo" placeholder="전화번호">
            </div>

            <!--완료 버튼-->
            <div>
                <input type="submit" class="btn" value="확인">
            </div>
        </div>
    </div>
</form>
</body>
</html>