<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>로그인</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
<form action="/login/successLogin" method="post">
    <div class="wrap">
        <div class="login">
            <!--로그인 메인 페이지 이동 (정보이동 x)-->
            <div class="login_logo">
                <a th:href="@{/}">
                    <img src="../../static/img/image_146.png" th:src="@{/img/image_146.png}" width="150" height="150">
                </a>
            </div>

            <div>
                <h2>로그인</h2>
            </div>

            <div class="login_email">
                <h4>E-mail</h4>
                <input name="email" type="email" placeholder="Email" required>
            </div>

            <div class="login_pw">
                <h4>Password</h4>
                <input name="password" type="password" placeholder="Password" required>
            </div>


            <!--이메일, 비밀번호로 조회 후 메인 페이지 연결-->
            <div class="button">
                <input type="submit" class="btn" value="로그인"/><!-- onclick="location.href='/review/reviewMain'"-->
            </div>

            <div class="login_etc">
                <!--이메일, 비밀번호 찾기 페이지 이동 (정보이동 x)-->
                <div class="forgot_pw">
                    <a th:href="@{/login/findEmail}">이메일 찾기/</a>
                    <a th:href="@{/login/findPwd}">비밀번호 찾기</a>
                </div>

                <!-- 회원가입 페이지 이동 (정보이동 x)-->
                <div class="forgot_pw">
                    <a th:href="@{/login/join}">회원가입</a>
                </div>
            </div>

            <!-- 리다이렉션 URL 필드 -->
            <input type="hidden" name="redirectUrl" value=""/>
        </div>
    </div>
</form>
<script>
    // 현재 URL의 쿼리 매개변수에서 redirectUrl 값을 가져와서 숨겨진 필드에 설정
    const urlParams = new URLSearchParams(window.location.search);
    const redirectUrl = urlParams.get('redirectUrl');
    if (redirectUrl) {
        document.querySelector('input[name="redirectUrl"]').value = redirectUrl;
    }
</script>
</body>
</html>
