<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
<div class="wrap">
    <div class="login">
        <!--로그인 메인 페이지 이동 (정보이동 x)-->
        <div class="login_logo">
            <!--<a th:href="@{/main}">-->
                <img src="/img/image_146.png" width="150" height="150">
            </a>
        </div>

        <div>
            <h2>로그인</h2>
        </div>

        <div class="login_email">
            <h4>E-mail</h4>
            <input type="email" placeholder="Email">
        </div>

        <div class="login_pw">
            <h4>Password</h4>
            <input type="password" placeholder="Password">
        </div>

        <div class="login_etc">
            <!--이메일, 비밀번호 찾기 페이지 이동 (정보이동 x)-->
            <div class="forgot_pw">
                <a href="findEmail.html" th:href="@{/login/findEmail}">이메일 찾기/</a>
                <a href="findPwd.html" th:href="@{/login/findPwd}">비밀번호 찾기</a>
            </div>
            <!-- 회원가입 페이지 이동 (정보이동 x)-->
            <div class="forgot_pw">
                <a href="join.html" th:href="@{/login/join}">회원가입</a>
            </div>
        </div>

        <!--이메일, 비밀번호로 조회 후 메인 페이지 연결-->
        <form action="/authenticate" method="post" class="button">
            <input type="submit" class="btn" value="로그인" onclick="location.href='/main'"/>
        </form>
    </div>
</div>
</body>
</html>