<!DOCTYPE html>
<html>
<header>
    <title>유저 페이지</title>
</header>

<body>
<!--<h1 th:text="|${session.loginUser.member_id} 환영합니다|"></h1>-->
<!-- th:if 문을 이용해서 div로 감싸서 ifgkrh 세션이 널이 아니면-->
<div th:if="${loginUser != null}">
    <h1 th:text="|${loginUser.nickname} 환영합니다|"></h1>
</div>
<button onclick="location.href='/login/logout'">로그아웃</button>
  
<button onclick="location.href='/meetingList/participatingList'">참가중인 모임</button>

<button onclick="location.href='/meetingList/endList'">종료한 모임</button>
</body>
</html>