<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{my-page/layout}">

<head>
    <title>계정 정보 수정</title>
</head>
        <aside layout:fragment="sidebar" class="bar">
            <div class="my-page-list sidebar-block">
                <h2>마이 페이지</h2>
                <ul class="list-no-pad">
                    <li class="bar-list">
                        <a class="unactive-page" href="./profile.html" th:href="@{profile}">프로필 수정</a>
                    </li>
                    <li class="bar-list">
                        <a class="unactive-page" href="./tech-profile.html" th:href="@{tech-profile}">기술 프로필 설정</a>
                    </li>
                    <li class="bar-list">
                        <a class="unactive-page" href="./follow-list.html" th:href="@{follow-list}">팔로우 유저 목록</a>
                    </li>
                    <li class="bar-list">
                        <a class="unactive-page" href="./black-list.html" th:href="@{black-list}">차단 회원 관리</a>
                    </li>
                    <li class="bar-list">
                        <a class="active-page" href="./account-info.html" th:href="@{account-info}">계정 정보 보기</a>
                    </li>
                    <li class="bar-list">
                        <a class="unactive-page" href="./withdraw.html" th:href="@{withdraw}">회원 탈퇴</a>
                    </li>
                </ul>
            </div>
        </aside>

        <div layout:fragment="content" class="profile">
            <form class="form-content">
                <h2>로그인 정보 보기</h2>
                <div class="form-item">
                    <label class="profile-label">이름</label>
                    <input class="form-input" type="text" placeholder="이름">
                </div>
                <p class="form-message warn">휴대폰 인증시 변경가능합니다</p>

                <div class="form-item">
                    <label class="profile-label">휴대폰 번호</label>
                    <div style="display: flex; flex-grow:1">
                        <input class="form-input" type="text" placeholder="휴대폰 번호">
                        <button >변경하기</button>
                    </div>
                    
                </div>
                <p class="form-message warn">주의사항</p>
                <p class="form-message error">에러 메세지</p>

                <div class="form-item">
                    <label class="profile-label">이메일</label>
                    <input class="form-input" disabled placeholder="현재 아이디">
                </div>

                <div class="form-item">
                    <label class="profile-label">소셜로그인 정보</label>
                    네이버 계정임
                </div>


                <div class="form-item">
                    <label class="profile-label">기존 비밀번호</label>
                    <input class="form-input get-nickname" type="password" placeholder="기존 비밀번호 입력">
                </div>
                <p class="form-message warn">자체 회원 가입 유저만 변경 가능합니다.</p>
                <p class="form-message error">에러 메세지</p>
                <div class="form-item">
                    <label class="profile-label">새 비밀번호</label>
                    <input class="form-input get-password" type="password" placeholder="새 비밀번호 입력">
                </div>
                <div class="form-item">
                    <label class="profile-label">새 비밀번호</label>
                    <input class="form-input get-password" type="password" placeholder="새 비밀번호 입력">
                </div>
                <p class="form-message warn">주의사항</p>
                <p class="form-message error">에러 메세지</p>

                <button class="btn-rw btn-submit" type="submit">제출</button>
            </form>
        </div>
</html>