<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{my-page/layout}">
<head>
    <title>계정 정보 수정</title>
</head>
<aside layout:fragment="sidebar" class="bar">
    <div class="my-page-list sidebar-block">
        <h2>마이 페이지</h2>
        <ul class="list-no-pad">
            <li class="bar-list">
                <a class="unactive-page" href="./profile.html" th:href="@{/my-page}">홈</a>
            </li>
            <li class="bar-list">
                <a class="unactive-page" href="./profile.html" th:href="@{profile}">프로필 수정</a>
            </li>
            <li class="bar-list">
                <a class="unactive-page" href="./tech-profile.html" th:href="@{tech-profile}">기술 프로필 설정</a>
            </li>
            <li class="bar-list">
                <a class="unactive-page" href="./follow-list.html" th:href="@{follow-list}">팔로우 유저 목록</a>
            </li>
            <li class="bar-list">
                <a class="unactive-page" href="./black-list.html" th:href="@{black-list}">차단 회원 관리</a>
            </li>
            <li class="bar-list">
                <a class="active-page" href="./account-info.html" th:href="@{account-info}">계정 정보 보기</a>
            </li>
            <li class="bar-list">
                <a class="unactive-page" href="./withdraw.html" th:href="@{withdraw}">회원 탈퇴</a>
            </li>
        </ul>
    </div>
</aside>

<div layout:fragment="content" class="profile">
    <script>
        const passwordChangeMessage = `[[${passwordChangeMessage}]]`;
        if (passwordChangeMessage) alert(passwordChangeMessage);
    </script>
    <form class="form-content" action="/my-page/account-info-modify" method="post">
        <h2>계정 정보 보기</h2>
        <div class="form-item">
            <label class="profile-label warn">이름</label>
            <label class="content-label" th:text="${session.loginUser.name}"></label>
        </div>

        <div class="form-item">
            <label class="profile-label warn">휴대폰 번호</label>
            <label class="content-label" th:text="${session.loginUser.phoneNumber}"></label>
        </div>

        <div class="form-item">
            <label class="profile-label warn">이메일</label>
            <label class="content-label" th:text="${session.loginUser.email}"></label>
        </div>

        <hr style="width:100%; height:3px; background-color:#F5F5F5; border:none">

        <div  th:unless="${loginMethod == 'homepage'}" class="form-item">
            <label class="profile-label">소셜로그인 정보</label>
            네이버 계정임
        </div>

        <th:block th:if="${loginMethod == 'homepage'}">
            <div class="form-item">
                <label class="profile-label">기존 비밀번호</label>
                <input class="form-input get-nickname" type="password" name="passwordBefore"
                       placeholder="기존 비밀번호 입력" required>
            </div>
            <p class="form-message error" th:text="${error_passwordBefore}"></p>
            <div class="form-item">
                <label class="profile-label">새 비밀번호</label>
                <input class="form-input get-password" type="password" name="passwordAfter"
                       placeholder="새 비밀번호 입력" required>
            </div>
            <div class="form-item">
                <label class="profile-label">새 비밀번호 확인</label>
                <input class="form-input get-password" type="password" name="passwordAfterAgain"
                       placeholder="새 비밀번호 확인" required>
            </div>
            <p class="form-message error" th:text="${error_passwordAgain}"></p>
        </th:block>

        <th:block th:unless="${loginMethod == 'homepage'}">
            <div class="form-item">
                <label class="profile-label">기존 비밀번호</label>
                <input class="form-input get-nickname" type="password" value="********" disabled>
            </div>
            <p class="form-message warn">자체 회원 가입 유저만 변경 가능합니다.</p>
        </th:block>

        <button class="btn-rw btn-submit" type="submit">비밀번호 변경</button>
    </form>
</div>
</html>