<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
<footer class="footer">
    <div  class="footer-link-block">
        <a>고객서비스</a>
        <a>소셜미디어</a>
        <a>팀원소개</a>
        <a>github</a>
    </div>
    <div style="width: 100%; align-items: center;">
        <ul style="margin:auto; display: flex; flex-direction: row; width: 50%; max-width: 450px;">
            <li>김도현</li>
            <li>김재협</li>
            <li>김혜진</li>
            <li>정현민</li>
            <li>홍관섭</li>
        </ul>
    </div>
    <img src="images/git_image.png" th:src="@{/img/my-page/git_image.png}" style="width: 50%; min-width: 200px;max-width: 450px;">
</footer>
</th:block>
</html>