<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
<footer class="footer">

        <div class="footer-items">
            <h3>
                EatIt
            </h3>
            <div>
                <h3>팀원소개</h3>
                <img src="images/git_image.png" th:src="@{/img/my-page/git_image.png}" style="width: 100%; min-width: 300px;max-width: 600px;">
            </div>
            <div>
                <h3>github</h3>
                <a>https://github.com/Practice-i5/EatIT-FE</a>
            </div>
        </div>
</footer>
</th:block>
</html>