<div class="header-bar">
    <img class="header-item logo" src="images/logo.png" th:src="@{/img/my-page/logo.png}" >
    <a class="header-item">홈</a>
    <a class="header-item">모임 등록</a>
    <a class="header-item">모임 찾기</a>
    <a class="header-item">후기</a>
    <div class="header-item">
        <button id="notification-icon">
            <img class="icon-image" src="images/notification.png" th:src="@{/img/my-page/notification.png}">
        </button>
        <button class="btn-choice-mid btn-wb">마이페이지</button>
        <button class="btn-choice-mid btn-wb">로그아웃</button>
    </div>
</div>