<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>프로필 수정</title>
    <link rel="stylesheet" href="css/style-mypage.css" th:href="@{/css/my-page/style-mypage.css}">
    <link rel="stylesheet" href="css/button.css" th:href="@{/css/my-page/button.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</head>
<body>
<div class="container">
    <nav th:insert="~{my-page/header-mypage::headerFragment}" class="header">
    </nav>

    <aside layout:fragment="sidebar"></aside>
    <div layout:fragment="content"></div>

    <footer th:replace="~{my-page/footer-mypage::footerFragment}">
    </footer>
</div>
</body>
</html>