<!DOCTYPE html>
<html>
    <head>
        <title>프로필 수정</title>
        <link rel="stylesheet" href="style-mypage.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>대충 헤더</h1>
            </div>
            <div class="bar">
                <h2>마이 페이지</h2>
                <ul>
                    <li class="unactive-page bar-list">
                        프로필 수정
                    </li>
                    <li class="unactive-page bar-list">
                        관심사 설정
                    </li>
                    <li class="unactive-page bar-list">
                        위치 정보 관리
                    </li>
                    <li class="unactive-page bar-list">
                        참여한 모임 관리
                    </li>
                    <li class="unactive-page bar-list">
                        차단 내역 관리
                    </li>
                    <li class="active-page bar-list">
                        비밀번호 변경
                    </li>
                    <li class="unactive-page bar-list">
                        회원 탈퇴
                    </li>
                </ul>
            </div>
            <div class="profile">
                <h2>프로필 수정</h2>
                <form>
                    <div class="form-item">
                        <label class="profile-labelm">프로필 사진</label>
                        <image src="파르토.webp" style="width:100px; height:100px; border:solid;"></image>
                        <picture>
                            <source srcset="파르토.webp" type="image/webp">
                        </picture>
                        <input type="file">사진 변경</input><button>초기화</button>
                    </div>
                    <div class="form-item">
                        <label for="get-nickname">기존 비밀번호</label>
                        <input class="form-input get-nickname" type="password" placeholder="기존 비밀번호 입력">
                    </div>
                    <p class="warn-message">주의사항이나 에러 메세지 나올거임</p>
                    <p class="warn-message">주의사항이나 에러 메세지 나올거임</p>

                    <div class="form-item">
                        <label for="get-nickname">기존 비밀번호</label>
                        <input class="form-input get-nickname" type="password" placeholder="기존 비밀번호 입력">
                        <p class="warn-message">주의사항이나 에러 메세지 나올거임</p>
                    </div>
                    <div class="form-item">
                        <label for="age">나이</label>
                        <input class="form-input" id="age" type="number" placeholder="나이를 입력하세요.">
                    </div>

                    <div class="form-item">
                        <label for="intro">기존 비밀번호</label>
                        <textarea  placeholder="소개글을 입력하세요." rows="5" cols="45" style="resize: none;"></textarea>
                        <p class="warn-message">주의사항이나 에러 메세지 나올거임</p>
                    </div>
                    <button class="btn-rw btn-submit" type="submit">제출</button>
                </form>
            </div>
            <div class="footer">
                <h1>대충 푸터</h1>
            </div>
        </div>
    </body>
</html>