/* .container {
    display: grid;
    grid-template-areas: 
        ". header header header ."
        ". bar main . ."
        ". footer footer footer ."
    ;
    grid-template-columns: 1fr 2fr 3fr  2fr 1fr;
} */

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "bar main ."
        "footer footer footer"
    ;
    /* grid-template-columns: 1fr 2fr 3fr  2fr 1fr; */
}

.header {
    grid-area: header;
    text-align: center;
}

.bar {
    /* display: flex; */
    grid-area: bar;
    align-items: right;
}

.profile {
    grid-area: main;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    grid-area: footer;
    text-align: center;
}


/* select{
    box-sizing: content-box;
} */
.bar-list {
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 30px;
    border-bottom: solid #ECECEC 3px;
}

.active-page {
    color: black;
}

.unactive-page {
    color: #8e8c8c;
}

.form-input {
    height: 30px;
    border-style: solid;
    border-radius: 5px;
    border-color: #c2c2c2;
    border-width: 2px;
    width: 70%;
}

.form-item {
    display: flex;
    align-items: center;
}

.btn-submit {
    width: 250px;
    height: 32px;
    border-radius: 25px;
    border-style: none;
    outline: solid;
}

.profile-label {
    text-align: left;
    width: 30%;
}


.form-message {
    font-size: 12px;
    margin: 3px;
    text-align: right;
}

.warn {
    color: #8c8c8c;
    font-size: 12px;
}

.error {
    color: red;
    font-size: 12px;
}

.valid {
    color: blue;
    font-size: 12px;
}

.btn-rw {
    background-color: red;
    color: white;
    border-color: red;
}

.btn-rw:hover {
    background-color: brown;
    /* color: white; */
    border-color: brown;
}

.btn-wr {
    background-color: white;
    border-color: red;
    color: red;
}

.btn-wr:hover {
    background-color: #ECECEC;
    /* border-color : #D0D0D0; */
}

.btn-gray {
    background-color: #ECECEC;
    border-color: #ECECEC;
    color: #707070;

}

.btn-gray:hover {
    background-color: #B0B0B0;
    border-color: #B0B0B0;
    color: #FFFFFF;
}

.btn-choice {
    border-style: solid;
    border-radius: 20px;
    margin: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;

    /* border-style: none; */
}