<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{my-page/layout}">
    <head>
        <title>기술 프로필 설정</title>
        <link rel="stylesheet" href="css/modal.css" th:href="@{/css/my-page/modal.css}">
    </head>

    <aside layout:fragment="sidebar" class="bar">
        <div class="my-page-list sidebar-block">
            <h2>마이 페이지</h2>
            <ul class="list-no-pad">
                <li class="bar-list">
                    <a class="unactive-page" href="./profile.html" th:href="@{/my-page}">홈</a>
                </li>
                <li class="bar-list">
                    <a class="unactive-page" href="./profile.html" th:href="@{profile}">프로필 수정</a>
                </li>
                <li class="bar-list">
                    <a class="active-page" href="./tech-profile.html" th:href="@{tech-profile}">기술 프로필 설정</a>
                </li>
                <li class="bar-list">
                    <a class="unactive-page" href="./follow-list.html" th:href="@{follow-list}">팔로우 유저 목록</a>
                </li>
                <li class="bar-list">
                    <a class="unactive-page" href="./black-list.html" th:href="@{black-list}">차단 회원 관리</a>
                </li>
                <li class="bar-list">
                    <a class="unactive-page" href="./account-info.html" th:href="@{account-info}">계정 정보 보기</a>
                </li>
                <li class="bar-list">
                    <a class="unactive-page" href="./withdraw.html" th:href="@{withdraw}">회원 탈퇴</a>
                </li>
            </ul>
        </div>
    </aside>

    <div layout:fragment="content" class="profile">
        <div id="profile-modal">
            <div id="tech-profile">
                <button id="close">&times;</button>
                <div class="profile-header">
                    <h3 class="modal-name">경력 사항 작성</h3>
                </div>
                <form id="tech-experience-form"  class="profile-contents" action="/my-page/tech-experience-modify" method="post">
                    <input id="modal-num" style="display: none" name="experienceId"></input>
                    <div>
                        <div>
                            <h5>회사명</h5>
                            <input type="text" id="companyName" name="companyName" required>
                        </div>
                        <div>
                            <h5>재직 기간</h5>
                            <input id="employ-start" type="date" name="startDate"/> ~ <input id="employ-end" type="date" name="endDate"/>
                            <input id="is-employ" name="isCurrent" type="checkbox"/><label for="is-employ">재직중</label>
                        </div>
                        <div>
                            <h5>개발 업무</h5>
                            <input id="experience-desc" name="description" type="text" required/>
                        </div>
                        <p id="modal-error"  style="font-size:12px;" class="error"></p>

                    </div>
                    <div style="display:flex; justify-content:center">
                        <button id="experience-submit" class="btn-rw btn-choice-mid" type="button">적용</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="form-content">
            <h2>기술 프로필 설정</h2>
            <th:block th:if="${stack_error ne null}">
                <p class="form-message error" th:text="${stack_error}"></p>
            </th:block>
            <th:block th:if="${stack_error eq null}">
                <p class="form-message warn">5개까지 선택가능합니다.</p>
            </th:block>
            <form action="/my-page/tech-profile-modify" method="post">
            <div class="form-item">
                    <label class="profile-label">기술 스택</label>
                    <ul class="list-no-pad form-size-limit chip-btn-list">
                        <th:block th:each="stack:${techStackList}">
                            <li style="margin-top:5px; margin-bottom: 10px;">
                                <th:block th:if="${#lists.contains(memberStackCode, stack.code)}">
                                    <input th:id="|stack-${stack.code}|" class="interest-check" type="checkbox"
                                           th:name="|stack-${stack.code}|" th:value="${stack.name}" checked>

                                    <label class="btn-choice-mid interest-label" th:for="|stack-${stack.code}|" th:text="${stack.name}"></label>
                                </th:block>
                                <th:block th:unless="${#lists.contains(memberStackCode, stack.code)}">
                                    <input th:id="|stack-${stack.code}|" class="interest-check" type="checkbox"
                                           th:name="|stack-${stack.code}|" th:value="${stack.name}">
                                    <label class="btn-choice-mid interest-label" th:for="|stack-${stack.code}|" th:text="${stack.name}"></label>
                                </th:block>
                            </li>
                        </th:block>
<!--                        <li style="margin-top:5px; margin-bottom: 10px;">-->
<!--                            <div>-->
<!--                                <input id="interest-1113" class="interest-check" type="checkbox" value="project-management">-->
<!--                                <label class="btn-choice-mid interest-label" for="interest-1113">기획</label>-->
<!--                            </div>-->
<!--                        </li>-->
                    </ul>
                </div>
                <button class="btn-rw btn-submit" type="submit">제출</button>
            </form>

            <th:block th:if="${experience_error ne null}">
                <p class="form-message error" th:text="${experience_error}"></p>
            </th:block>
            <th:block th:if="${experience_error eq null}">
                <p class="form-message warn">10개까지 작성가능합니다.</p>
            </th:block>
            <div class="form-item" id="nickname-form">
                <label>개발 경력</label>
                <div class="form-size-limit">
                    <ul style="margin-left:5px; list-style: none; padding-left: 0px; display:flex; flex-flow : column wrap; align-items: baseline;">
                        <th:block th:if="${techExperienceList}">
                            <li style="display: flex; justify-content: space-between; width: 100%;"
                                    th:each="techExperience:${techExperienceList}">
                                <div style="display: flex; flex-direction: column; align-items: baseline;">
                                    <h3 style="margin:0px;" th:text="${techExperience.companyName}"></h3>
                                    <p class="form-message-mini warn" th:text="${techExperience.description}"></p>
                                    <th:block th:if="${techExperience.endDate ne null}">
                                        <p class="form-message-mini warn" th:text="|${techExperience.startDate}~${techExperience.endDate}|"></p>
                                    </th:block>
                                    <th:block th:if="${techExperience.endDate eq null}">
                                        <p class="form-message-mini warn" th:text="|${techExperience.startDate}~재직중|"></p>
                                    </th:block>
                                </div>
                                <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                    <button class="btn-choice-small btn-wb" name="modifyId" th:value="${techExperience.experienceId}" th:onclick="openModal([[${techExperience}]])">수정</button>
                                    <form action="/my-page/tech-experience-delete" method="post">
                                        <button class="btn-choice-small btn-wb" name="deleteId" th:value="${techExperience.experienceId}">삭제</button>
                                    </form>
                                </div>
                            </li>
                            <li style="float: right;"><button type="button" class="btn-choice-small btn-wb" id="add-experience">경력 사항 추가</button></li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
        <script src="js/tech-profile-modal.js" th:src="@{/js/my-page/tech-profile-modal.js}"></script>
    </div>
</html>