<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{my-page/layout}">
<head>
    <title>회원탈퇴</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<aside layout:fragment="sidebar" class="bar">
    <div class="my-page-list sidebar-block">
        <h2>마이 페이지</h2>
        <ul class="list-no-pad">
            <li class="bar-list">
                <a class="unactive-page" href="./profile.html" th:href="@{/my-page}">홈</a>
            </li>
            <li class="bar-list">
                <a class="unactive-page" href="./profile.html" th:href="@{profile}">프로필 수정</a>
            </li>
            <li class="bar-list">
                <a class="unactive-page" href="./tech-profile.html" th:href="@{tech-profile}">기술 프로필 설정</a>
            </li>
            <li class="bar-list">
                <a class="unactive-page" href="./follow-list.html" th:href="@{follow-list}">팔로우 유저 목록</a>
            </li>
            <li class="bar-list">
                <a class="unactive-page" href="./black-list.html" th:href="@{black-list}">차단 회원 관리</a>
            </li>
            <li class="bar-list">
                <a class="unactive-page" href="./account-info.html" th:href="@{account-info}">계정 정보 보기</a>
            </li>
            <li class="bar-list">
                <a class="active-page" href="./withdraw.html" th:href="@{withdraw}">회원 탈퇴</a>
            </li>
        </ul>
    </div>
</aside>

<div layout:fragment="content" class="profile">
    <form class="form-content" id="withdraw-quest" action="/my-page/withdraw" method="post">
        <h2>회원 탈퇴</h2>
        <h3>정말로 회원은 탈퇴하겠습니까?</h3>
        <button class="btn-rw btn-submit" id="withdraw-submit">탈퇴하기</button>
    </form>
</div>


</html>