<!DOCTYPE html>
<html>

<head>
    <title>회원탈퇴</title>
    <link rel="stylesheet" href="css/style-mypage.css" th:href="@{/css/my-page/style-mypage.css}">
    <link rel="stylesheet" href="css/button.css" th:href="@{/css/my-page/button.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="header">
            <div class="header-bar">
                <img class="header-item logo" src="images/logo.png" th:src="@{/img/my-page/logo.png}" >
                <a class="header-item">홈</a>
                <a class="header-item">모임 등록</a>
                <a class="header-item">모임 찾기</a>
                <a class="header-item">후기</a>
                <div class="header-item">
                    <button id="notification-icon">
                        <img class="icon-image" src="images/notification.png" th:src="@{/img/my-page/notification.png}">
                    </button>
                    <button class="btn-choice-mid btn-wb">마이페이지</button>
                    <button class="btn-choice-mid btn-wb">로그아웃</button>
                </div>
            </div>
        </nav>
        <aside class="bar">
            <div class="my-page-list sidebar-block">
                <h2>마이 페이지</h2>
                <ul class="list-no-pad">
                    <li class="bar-list">
                        <a class="unactive-page" href="./profile.html" th:href="@{profile}">프로필 수정</a>
                    </li>
                    <li class="bar-list">
                        <a class="unactive-page" href="./tech-profile.html" th:href="@{tech-profile}">기술 프로필 설정</a>
                    </li>
                    <li class="bar-list">
                        <a class="unactive-page" href="./follow-list.html" th:href="@{follow-list}">팔로우 유저 목록</a>
                    </li>
                    <li class="bar-list">
                        <a class="unactive-page" href="./black-list.html" th:href="@{black-list}">차단 회원 관리</a>
                    </li>
                    <li class="bar-list">
                        <a class="unactive-page" href="./account-info.html" th:href="@{account-info}">계정 정보 보기</a>
                    </li>
                    <li class="bar-list">
                        <a class="active-page" href="./withdraw.html" th:href="@{withdraw}">회원 탈퇴</a>
                    </li>
                </ul>
            </div>
        </aside>

        <div class="profile">
            <form class="form-content" id="withdraw-quest">
                <h2>회원탈퇴</h2>
                <h3>정말로 회원은 탈퇴하겠습니까?</h3>
                <p>탈퇴시 해당 이메일로 재가입이 제한됩니다.</p>
                <button class="btn-rw btn-submit" id="withdraw-submit" type="button">탈퇴하기</button>
            </form>
            <form hidden class="unactive form-content" id="withdraw-done">
                <h2>회원탈퇴 완료</h2>
                <h3>회원 탈퇴가  완료되었습니다.</h3>
                
                <button class="btn-rw btn-submit" type="button">홈으로</button>
            </form>
        </div>
        <footer class="footer">
            <div class="footer-link-block">
                <a>고객서비스</a>
                <a>소셜미디어</a>
                <a>팀원소개</a>
                <a>github</a>
            </div>
            <div style="width: 100%; align-items: center;">
                <ul style="margin:auto; display: flex; flex-direction: row; width: 50%; max-width: 450px;">
                    <li>김도현</li>
                    <li>김재협</li>
                    <li>김혜진</li>
                    <li>정현민</li>
                    <li>홍관섭</li>
                </ul>
            </div>
            <img src="images/git_image.png" th:src="@{/img/my-page/git_image.png}" style="width: 50%; min-width: 200px;max-width: 450px;">
        </footer>
    </div>
    <script src="js/withdraw.js" th:src="@{/js/my-page/withdraw.js}"></script>
</body>

</html>