<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <title>Details</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/template.css}" rel="stylesheet">
    <link th:href="@{/css/detail.css}" rel="stylesheet">
    <link th:thrf="@{/css/recruit.css}" rel="stylesheet">

    <style>
        #recruit-modal {
            /*position: fixed;*/
            position: absolute;
            display: none ;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 1;
        }

        #recruit-modal.active {
            display: flex;
        }

        #recruit-template {
            width: 90%;
            max-width: 500px;
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            animation: fadeIn 0.5s;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        #recruit-close {
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
            border: none;
            background: none;
        }

        #recruit-close:hover,
        #recruit-close:focus {
            color: red;
        }

        .recruit-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .recruit-pic img {
            border-radius: 50%;
            width: 70px;
            height: 70px;
        }

        .recruit-name {
            margin: 0;
            text-align: center;
        }

        .recruit-contents {
            background-color: #dff0d8;
            padding: 20px;
            border-radius: 10px;
            /* margin-bottom: 10px; */
        }

        .recruit-contents h5 {
            margin: 10px 0;
        }

        .recruit-contents p {
            margin: 5px 0;
        }

        #recruit-now {
            /*position: fixed;*/
            display: none ;
        }

        #recruit-now.active {
            display: flex;
        }

        #not-now {
            display: none;
        }

        #not-now.active {
            display: flex;
        }
    </style>
</head>

<body>
    <script>
        const decMessage = `[[${decMessage}]]`
        if(decMessage) alert(decMessage)
    </script>

    <!-- Spinner Start -->
    <div id="spinner"
        class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar start -->
    <div class="container-fluid fixed-top">
        <div class="container px-0">
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a th:href="@{main-page/home.html}" class="navbar-brand"><img class=logo src="/img/logo.png" alt="logo"/></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a th:href="@{main-page/home.html}" class="nav-item nav-link">홈</a>
                            <a th:href="@{enroll-meeting/index.html}" class="nav-item nav-link">모임 등록하기</a>
                            <a th:href="@{search/list.html}" class="nav-item nav-link header-menu-active">모임 찾기</a>
                            <a id="open" th:href="@{meetingList-page/like-page.html}" class="nav-item nav-link">모임목록</a>
                        </div>
                        <div class="d-flex m-3 me-0">
                            <a href="#" class="btn-notification my-auto me-4">
                                <i class="fas fa-bell fa-2x"></i>
                            </a>
                            <!-- JavaScript 파일 연결 -->
                            <button class="btn btn-danger rounded-pill me-2"
                                onclick="location.href='../newPagetemplate/newlogin.html'" id="loginButton">로그인</button>
                            <button class="btn btn-outline-danger rounded-pill"
                                onclick="location.href='../newPagetemplate/newjoin.html'"
                                id="signupButton">회원가입</button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Modal Search Start -->
    <div id="recruit-modal">
        <div id="recruit-template">
            <button id="recruit-close">&times;</button>
            <form th:action="@{detail/detail.html}" method="POST">
                <div class="recruit-header">
                    <h3 class="modal-name">모임 신청하기</h3>
                </div>
                <div class="recruit-contents">
                    <div class="recruit-header">
                        <div class="recruit-pic">
                            <img th:src="${meetingImage.hostImageURL}" alt="Recruit Picture">
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="group-detail">모임을 소개해주세요</label>
                            <input type="text" id="group-detail" name="introduction" style="width:100px; height: 100px;" maxlength="100" placeholder="모집인원, 메인 메뉴 등 모임에 대한 설정포함"/>
                        </div>
                        <div>
                            <h5>관심분야</h5>
                            <p>백엔드</p>
                        </div>
                        <hr/>
                        <div>
                            <!--                        <h5>평가</h5>-->
                            <!--                        <div th:each="eval : ${evaluates}">-->
                            <!--                            <p th:text="${eval}">평가</p>-->
                            <!--                        </div>-->

                        </div>
                    </div>
                </div>
            </form>
            <button type="submit" class="follow-btn">모임신청</button>
        </div>
    </div>
    <!-- <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <div id="profile-modal">
        <div id="profile">
            <button id="profile-close">&times;</button>
            <form th:action="@{detail/detail.html}" method="POST">
                <div class="profile-header">
                    <h3 class="modal-name">프로필 상세 보기</h3>
                </div>
                <div class="profile-contents">
                    <div class="profile-header">
                        <div class="profile-pic">
                            <img th:src="${meetingImage.hostImageURL}" alt="Profile Picture">
                        </div>
                        <div class="profile-info">
                            <h5 class="profile-name" th:text="${leaderId}">리더 닉네임</h5>
    <!--                        <p>모임 횟수: 5</p>-->
                        </div>
                    </div>
                    <div>
                        <div>
    <!--                        <h5>경력</h5>-->
    <!--                        <div th:each="career : ${careers}">-->
    <!--                            <p th:text="${career}"></p>-->
    <!--                        </div>-->
                        </div>
                        <div>
                            <h5>관심분야</h5>
                            <p>백엔드</p>
                        </div>
                        <hr />
                        <div>
    <!--                        <h5>평가</h5>-->
    <!--                        <div th:each="eval : ${evaluates}">-->
    <!--                            <p th:text="${eval}">평가</p>-->
    <!--                        </div>-->

                        </div>
                    </div>
                </div>
    <!--            <div style="text-align: center"><a th:text="${temp}">매너온도</a></div>-->
<!--                <div id="action-buttons">-->
    <!--                <button class="follow-btn">팔로우</button>-->
                    <input name="isDecHuman" th:value="true" type="hidden">
                    <button type="submit" class="report-button report-btn">신고하기</button>
<!--                    <span><input type="button" onclick='toggleReportBtns()'/></span>-->
<!--                </div>-->
            </form>
        </div>
    </div>
    <!-- profile modal end -->


    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <!-- <h1 class="text-center text-white display-6">Shop Detail</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Shop Detail</li> -->
<!--        </ol>-->
    </div>
    <!-- Single Page Header End -->


    <!-- Single Product Start -->
    <div class="container-fluid py-5 mt-5">
        <div class="container py-5">
            <div class="row g-4 mb-5">
                <h1 th:text="${meetingDTO.title}">모임 이름</h1>
                <hr />
                <div class="col-lg-8 col-xl-9">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="border rounded">
                                <a href="#">
                                    <img th:src="${meetingImage}" class="img-fluid rounded" alt="meetingImage">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="fw-bold mb-3">장소</h4>
                            <p class="mb-3" th:text="${meetingDTO.locationName}">모임 장소 상세 주소</p>
                            <h5 class="fw-bold mb-3">약속일자</h5>
                            <p class="mb-3" th:text="${meetingDTO.scheduledDate}">2024.06.20(목) 오후 10:09</p>
                            <span class="expected-amount">
                                <div class="contents-container">
                                    <div class="contents-container-item">
                                        <p class="align-center fw-bold mb-3">성별</p>
                                        <p class="round-corner-print-green" th:text="${meetingDTO.gender}">상관없음</p>
                                    </div>
                                    <div class="contents-container-item">
                                        <p class="align-center fw-bold mb-3">참여가능나이</p>
                                        <div class="align-center">
                                            <span th:text="|${meetingDTO.eligibleAge}대|"></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        <div>
                            <h4 class="mb-5 fw-bold">소개글</h4>
                            <p th:text="${meetingDTO.introduction}"></p>
                        </div>
                        <div>
                            <h4 class="mb-5 fw-bold">대화주제</h4>
                            <p th:text="${meetingDTO.meetingType}"></p>
                        </div>
                        <div>
                            <h5 class="mb-5 fw-bold">#관심 개발분야</h5>
                            <div class="contents-container">
                                <div class="contents-container-item hashtag" th:each="category : ${interests}">
                                    <p class="align-center" th:text="${category}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3">
                    <div class="row g-4 fruite">
                        <div class="col-lg-12">
                            <div class="leader-data">
                                <h3 class="align-center padding-top-20px">리더 정보</h3>
                                <hr />
                                <div>
                                    <div class="padding-bottom-20px padding-left-20px">
                                        <a id="open-img" value="button"><img th:src="${meetingImage.hostImageURL}"
                                                class="profile-image" /></a>
                                        <a id="open-search" value="button" th:text="${meetingDTO.hostMemberId}">리더 닉네임</a>
                                    </div>
                                    <div class="leader-data-details">
                                        <div class="padding-bottom-20px padding-left-20px">
<!--                                            <h5>경력</h5>-->
<!--                                            <div th:each="career : ${careers}">-->
<!--                                                <p th:text="${career}"></p>-->
<!--                                            </div>-->
                                        </div>
                                        <div class="padding-left-20px">
                                            <h5>분야</h5>
                                            <div>서버개발</div>
                                        </div>
                                        <div class="leader-rate">
<!--                                            <p>81</p>-->
                                        </div>
                                        <div class="align-center padding-bottom-20px">
                                            <!-- HTML 폼 -->
                                            <form th:action="@{/detail/detail}" method="post" id="recruit-now">
                                                <label>
                                                    <input name="meetingId" th:value="${meetingDTO.meetingId}" type="hidden">
                                                    <input name="isParticipateFree" th:value="true" type="hidden">
                                                </label>
                                                <button class="active-red normal-btn" type="submit" th:text="${meetingDTO.participationMethod}">바로등록</button>
                                            </form>

                                            <!-- 버튼을 감싸는 div -->
                                            <form th:action="@{/detail/detail}" method="post">
                                                <div id="not-now">
                                                    <label>
                                                        <input name="meetingId" th:value="${meetingDTO.meetingId}" type="hidden">
                                                        <input name="isParticipateAcc" th:value="true" type="hidden">
                                                    </label>
                                                    <button type="submit" class="active-red normal-btn" id="open-rct" th:text="${meetingDTO.participationMethod}">모임신청</button>
                                                </div>
                                            </form>

                                            <!-- JavaScript 부분 -->
                                            <script th:inline="javascript">
                                                // HTML 요소 선택
                                                const recruitNowBtn = document.querySelector('#recruit-now');
                                                const notNowBtn = document.querySelector('#not-now');

                                                // Thymeleaf에서 동적으로 생성된 JavaScript 변수 값 가져오기
                                                const participationMethod =  [[${meetingDTO.participationMethod}]];

                                                // 버튼 상태에 따른 클래스 추가
                                                if (participationMethod === "자유참여") {
                                                    recruitNowBtn.classList.add("active");
                                                } else {
                                                    notNowBtn.classList.add("active");
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="fw-bold mb-0">참여자</h4>
            <div class="participants-container">
                <div class="owl-carousel vegetable-carousel justify-content-center">
                    <div class="border border-primary rounded position-relative participants-container-item">
                        <div class="contents-container">
                            <img src="/img/honeybee_doguri.png" class="contents-container-item" alt="dev1">
                            <div class="contents-container-item">
                                <p class="fw-bold align-center">꿀벌 도**</p>
                                <p class="align-center">"iOS 개발자"</p>
                            </div>
                        </div>
                    </div>
                    <div class="border border-primary rounded position-relative participants-container-item">
                        <div class="contents-container">
                            <img src="/img/sakura_doguri.png" alt="dev2" class="contents-container-item">
                            <div class="contents-container-item">
                                <p class="fw-bold align-center">벛꽃 도**</p>
                                <p class="align-center">"iOS 개발자"</p>
                            </div>
                        </div>
                    </div>
                    <div class="border border-primary rounded position-relative participants-container-item">
                        <div class="contents-container">
                            <img src="/img/flower_doguri.png" alt="dev3" class="contents-container-item">
                            <div class="contents-container-item">
                                <p class="fw-bold align-center">넥카라 도**</p>
                                <p class="align-center">"iOS 개발자"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Product End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
        <div class="container py-5">
            <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5)">
                <div class="row g-4">
                    <div class="col-lg-3">
                        <a href="#">
                            <h1 class="text-primary mb-0">Eat IT</h1>
                            <p class="text-secondary mb-0">먹고 마시며 즐기는 인맥 확장의 기회!<br>
                                소소한 IT 소모임 “Eat IT”
                                <br>🍽️🍝🍦🍕🍣🍳🍛🌭🍰🍛🍚🍮🌮☕️
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">NOTICE</h4>
                    <p class="mb-4">
                        공지사항
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">ABOUT US</h4>
                    <a class="btn-link" href="">Eat IT 소개</a>
                    <a class="btn-link" href="">회사 소개</a>
                    <a class="btn-link" href="">인재 채용</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">팀원 소개</h4>
                    <a class="btn-link" href="">팀원 깃허브</a>
                    <div class="team-member">
                        <img src="../main-page/img/image_team.png" alt="Team Member" class="team-member-img">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">github</h4>
                    <a class="btn-link" href="">https://github.com/Practice-i5/EatIT-FE</a>
                    <a class="btn-link" href="">팀 노션</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- Footer End -->

    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Your Site
                            Name</a>, All right reserved.</span>
                </div>
                <div class="col-md-6 my-auto text-center text-md-end text-white">
                    <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                    <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                    <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a
                        class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i
            class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/detail.js"></script>
    <script src="/js/profile-modal.js"></script>
    <!-- Template Javascript -->
</body>

</html>