<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <title>Details</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/template.css}" rel="stylesheet">
    <link th:href="@{/css/detail.css}" rel="stylesheet">
    <link th:thrf="@{/css/recruit.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet">

    <style>
        #recruit-modal {
            position: fixed;
            /*position: absolute;*/
            display: none ;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 1;
        }

        #recruit-modal.active {
            display: flex;
        }

        #recruit-template {
            width: 90%;
            max-width: 500px;
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            animation: fadeIn 0.5s;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        #recruit-close {
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
            border: none;
            background: none;
        }

        #recruit-close:hover,
        #recruit-close:focus {
            color: red;
        }

        .action-buttons {
            padding-top:20px;
        }

        .recruit-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .recruit-pic img {
            border-radius: 50%;
            width: 70px;
            height: 70px;
        }

        .recruit-name {
            margin: 0;
            text-align: center;
        }

        .recruit-contents {
            background-color: #dff0d8;
            padding: 20px;
            border-radius: 10px;
            /* margin-bottom: 10px; */
        }

        .recruit-contents h5 {
            margin: 10px 0;
        }

        .recruit-contents p {
            margin: 5px 0;
        }
        .return-value{
            display: none;
        }

        #recruit-now {
            /*position: fixed;*/
            display: none ;
        }

        #recruit-now.active {
            display: flex;
        }

        #not-now {
            display: none;
        }

        #not-now.active {
            display: flex;
        }
    </style>
</head>

<body>
    <script>
        const decMessage = `[[${decMessage}]]`
        if(decMessage) alert(decMessage)
    </script>

    <th:block th:replace="/layout/fragments/header :: headerLayout"></th:block>


    <!-- Modal Search Start -->
    <div id="recruit-modal">
        <div id="recruit-template">
            <button id="recruit-close">&times;</button>
            <form th:action="@{/detail/detail}" method="POST">
                <div class="recruit-header">
                    <h3 class="modal-name">모임 신청하기</h3>
                </div>
                <div class="recruit-contents">
                    <div>
                        <div class="form-group">
                            <label for="group-detail">간단하게 소개해주세요</label>
                            <input type="text" id="group-detail" name="introduction" style="width:80%; height: 50%; overflow: auto;" maxlength="100" placeholder="100글자 이내로 작성해주세요."/>
                        </div>
                    </div>
                </div>
                <div class="align-center">
                    <label>
                        <input name="meetingId" th:value="${meetingDTO.meetingId}" type="number" class="return-value">
                        <input name="participateAcc" type="number" th:value="1" class="return-value">
                        <input name="meetingId" type="number" th:value="${meetingDTO.meetingId}" class="return-value">
                    </label>
                    <button type="submit" class="follow-btn">모임신청</button>
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <div id="profile-modal">
        <div id="profile">
            <button id="profile-close">&times;</button>
                <div class="profile-header">
                    <h3 class="modal-name">프로필 상세 보기</h3>
                </div>
                <div class="profile-contents">
                    <div class="profile-header">
                        <div class="profile-pic">
                            <img th:src="${meetingImage.hostImageURL}" alt="Profile Picture">
                        </div>
                        <div class="profile-info">
                            <h5 class="profile-name" th:text="${hostInfoDTO.nickname}">리더 닉네임</h5>
    <!--                        <p>모임 횟수: 5</p>-->
                        </div>
                    </div>
                    <div>
                        <div>
    <!--                        <h5>경력</h5>-->
    <!--                        <div th:each="career : ${careers}">-->
    <!--                            <p th:text="${career}"></p>-->
    <!--                        </div>-->
                        </div>
                        <div>
                            <h5></h5>
                            <p></p>
                        </div>
                        <hr />
                        <div>
    <!--                        <h5>평가</h5>-->
    <!--                        <div th:each="eval : ${evaluates}">-->
    <!--                            <p th:text="${eval}">평가</p>-->
    <!--                        </div>-->

                        </div>
                    </div>
                </div>
    <!--            <div style="text-align: center"><a th:text="${temp}">매너온도</a></div>-->
<!--                <div id="action-buttons">-->
                <div id="action-buttons">
                    <form th:action="@{/detail/detail}" method="POST">
                        <label for="follow">
                            <input name="meetingId" th:value="${meetingDTO.meetingId}" type="number" class="return-value">
                            <input name="decMemberId" th:value="${meetingDTO.hostMemberId}" class="return-value">
                            <button id="follow" class="follow-btn">팔로우</button>
                        </label>
                    </form>
                    <form th:action="@{/detail/detail}" method="POST">
                        <label for="dec">
                            <input name="meetingId" th:value="${meetingDTO.meetingId}" type="number" class="return-value">
                            <input name="reportedMemberId" th:value="${meetingDTO.hostMemberId}" class="return-value">
                            <input name="decHuman" type="number" th:value="1" class="return-value">
                            <button id="dec" type="submit" class="report-button report-btn">신고하기</button>
                        </label>
                    </form>
                </div>
<!--                    <span><input type="button" onclick='toggleReportBtns()'/></span>-->
<!--                </div>-->
            </form>
        </div>
    </div>
    <!-- profile modal end -->


    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <!-- <h1 class="text-center text-white display-6">Shop Detail</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Shop Detail</li> -->
<!--        </ol>-->
    </div>
    <!-- Single Page Header End -->


    <!-- Single Product Start -->
    <div class="container-fluid py-5 mt-5">
        <div class="container py-5">
            <div class="row g-4 mb-5">
                <h1 th:text="${meetingDTO.title}">모임 이름</h1>
                <hr />
                <div class="col-lg-8 col-xl-9">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="border rounded">
                                <a>
                                    <img th:src="${meetingImage.meetingImageURL}" class="img-fluid rounded" alt="meetingImage">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="fw-bold mb-3">장소</h4>
                            <p class="mb-3" th:text="${meetingDTO.locationName}">모임 장소 상세 주소</p>
                            <h5 class="fw-bold mb-3">약속일자</h5>
                            <p class="mb-3" th:text="${meetingDTO.scheduledDate}">2024.06.20(목) 오후 10:09</p>
                            <span class="expected-amount">
                                <div class="contents-container">
                                    <div class="contents-container-item">
                                        <p class="align-center fw-bold mb-3">성별</p>
                                        <p class="round-corner-print-green" th:text="${meetingDTO.gender}">상관없음</p>
                                    </div>
                                    <div class="contents-container-item">
                                        <p class="align-center fw-bold mb-3">참여가능나이</p>
                                        <div class="align-center">
                                            <span th:text="|${meetingDTO.eligibleAge}대|"></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div>
                            <h4 class="mb-5 fw-bold">소개글</h4>
                            <p th:text="${meetingDTO.introduction}"></p>
                        </div>
                        <div>
                            <h4 class="mb-5 fw-bold">대화주제</h4>
                            <p th:text="${meetingDTO.meetingType}"></p>
                        </div>
                        <div>
                            <h5 class="mb-5 fw-bold">#관심 개발분야</h5>
                            <div class="contents-container">
                                <div class="contents-container-item hashtag" th:each="category : ${interests}">
                                    <p class="align-center" th:text="${category}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3">
                    <div class="row g-4 fruite">
                        <div class="col-lg-12">
                            <div class="leader-data">
                                <h3 class="align-center padding-top-20px">리더 정보</h3>
                                <hr />
                                <div>
                                    <div class="padding-bottom-20px padding-left-20px">
                                        <a id="open-img" value="button"><img th:src="${meetingImage.hostImageURL}"
                                                class="profile-image" alt="hostImage"/></a>
                                        <a id="open-search" value="button" th:text="${hostInfoDTO.nickname}">리더 닉네임</a>
                                    </div>
                                    <div class="leader-data-details">
                                        <div class="padding-bottom-20px padding-left-20px">
<!--                                            <h5>경력</h5>-->
<!--                                            <div th:each="career : ${careers}">-->
<!--                                                <p th:text="${career}"></p>-->
<!--                                            </div>-->
                                        </div>
                                        <div class="padding-left-20px">
                                            <h5>분야</h5>
                                            <div>서버개발</div>
                                        </div>
                                        <div class="leader-rate">
<!--                                            <p>81</p>-->
                                        </div>
                                        <div class="padding-bottom-20px">
                                            <!-- HTML 폼 -->
                                            <div class="align-center">
                                                <form th:action="@{/detail/detail}" method="post" id="recruit-now">
                                                    <label>
                                                        <input name="participateFree" th:value="1" type="number" class="return-value">
                                                        <input name="meetingId" th:value="${meetingDTO.meetingId}" type="number" class="return-value">
                                                    </label>
                                                    <button class="active-red normal-btn" style="justify-content: center;" type="submit" th:text="${meetingDTO.participationMethod}">바로등록</button>
                                                </form>
                                            </div>
                                            <!-- 버튼을 감싸는 div -->
                                            <div id="not-now" class="align-center">
                                                <button type="submit" style="justify-content: center;" class="active-red normal-btn" id="open-rct" th:text="${meetingDTO.participationMethod}">모임신청</button>
                                            </div>
                                        </div>
                                            <!-- JavaScript 부분 -->
                                            <script th:inline="javascript">
                                                // HTML 요소 선택
                                                const recruitNowBtn = document.querySelector('#recruit-now');
                                                const notNowBtn = document.querySelector('#not-now');

                                                // Thymeleaf에서 동적으로 생성된 JavaScript 변수 값 가져오기
                                                const participationMethod =  [[${meetingDTO.participationMethod}]];

                                                // 버튼 상태에 따른 클래스 추가
                                                if (participationMethod === "자유참여") {
                                                    recruitNowBtn.classList.add("active");
                                                } else {
                                                    notNowBtn.classList.add("active");
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="fw-bold mb-0">참여자</h4>
                <div class="owl-carousel vegetable-carousel justify-content-center participants-container" th:each="member : ${loadMembers}">
                    <div class=" position-relative participants-container-item">
                        <div class="contents-container border border-primary rounded">
                            <img th:src="@{member.memberImageURL}" class="contents-container-item" alt="dev1">
                            <div class="contents-container-item">
                                <p class="fw-bold align-center" th:text="${ nickname }">멤버 닉네임</p>
                            </div>
                        </div>
                    </div>
<!--                    <div class="position-relative participants-container-item">-->
<!--                        <div class="contents-container border border-primary rounded">-->
<!--                            <img src="/img/sakura_doguri.png" alt="dev2" class="contents-container-item">-->
<!--                            <div class="contents-container-item">-->
<!--                                <p class="fw-bold align-center">벛꽃 도**</p>-->
<!--                                <p class="align-center">"iOS 개발자"</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="position-relative participants-container-item">-->
<!--                        <div class="contents-container border border-primary rounded">-->
<!--                            <img src="/img/flower_doguri.png" alt="dev3" class="contents-container-item">-->
<!--                            <div class="contents-container-item">-->
<!--                                <p class="fw-bold align-center">넥카라 도**</p>-->
<!--                                <p class="align-center">"iOS 개발자"</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
        </div>
    </div>
    <!-- Single Product End -->


    <th:block th:replace="/layout/fragments/footer :: footerLayout"></th:block>
    <script th:src="@{/js/headerLoginChange.js}"></script>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/detail.js"></script>
    <script src="/js/profile-modal.js"></script>
    <!-- Template Javascript -->
</body>

</html>